form(name='rateDiscountForm')
	// Discount. client
	//.section-form
	//	p.form-section-glarus
	//		| {{ 'client.rates.discountsClient' | translate }}
	//
	//	fieldset.fieldset-flex
	//		.fieldset-flex
	//
	//			.an-material.nopadding
	//				md-input-container.full
	//					label {{ 'client.rates.function' | translate}}
	//					input(value="{{ 'client.rates.staffDiscount' | translate}}" ng-disabled='true')
	//
	//			.an-material.nopadding
	//				md-input-container.full
	//					label {{ 'client.rates.discountPercentage' | translate}}
	//					input(ng-model='rateForm.rates.STAFF_DISCOUNT.inputParameters.discountPercentage' type="number")

	// Discount reseller.
	.section-form(ng-show='client.isReseller===true')
		p.form-section-glarus
			| {{ 'client.rates.discountsReseller' | translate }}

		// Vehicle
		fieldset.fieldset-flex
			.fieldset-flex
				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.staffDiscount' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.discountPercentage' | translate}}
						input(ng-model='rateForm.rates.STAFF_RESELLER_DISCOUNT.inputParameters.discountPercentage' type="number" )

