form(name='rateSpecialOpsForm')
	.section-form
		p.form-section-glarus
			| {{ 'client.rates.staff' | translate }}
		// Driver
		fieldset.fieldset-flex
			.fieldset-flex

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.driver' | translate}}" ng-disabled='true')
				
				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.typeTime' | translate}}
						md-select(aria-label='type' ng-model='rateForm.rates.DRIVER.inputParameters.type' ng-change='updateRatesValuesSpecialOps()')
							md-option(value='DAY') {{ 'client.rates.typeTimeDay' | translate }}
							md-option(value='ONLY_HOUR') {{ 'client.rates.typeTimeHour' | translate }}

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.DRIVER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.DRIVER.inputParameters.rateDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.DRIVER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursFullDay' | translate}}
						input(ng-model='rateForm.rates.DRIVER.inputParameters.hoursFullDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.DRIVER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateMinimum' | translate}}
						input(ng-model='rateForm.rates.DRIVER.inputParameters.rateMinimum' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.DRIVER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.DRIVER.inputParameters.hoursHalfDay' type="number")
				
				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateExtraHour' | translate}}
						input(ng-model='rateForm.rates.DRIVER.inputParameters.rateExtraHour' type="number")

		// Agent

		fieldset.fieldset-flex
			.fieldset-flex

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.agent' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.typeTime' | translate}}
						md-select(aria-label='type' ng-model='rateForm.rates.AGENT.inputParameters.type' ng-change='updateRatesValuesSpecialOps()')
							md-option(value='DAY') {{ 'client.rates.typeTimeDay' | translate }}
							md-option(value='ONLY_HOUR') {{ 'client.rates.typeTimeHour' | translate }}

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.AGENT.inputParameters.rateDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursFullDay' | translate}}
						input(ng-model='rateForm.rates.AGENT.inputParameters.hoursFullDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateMinimum' | translate}}
						input(ng-model='rateForm.rates.AGENT.inputParameters.rateMinimum' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.AGENT.inputParameters.hoursHalfDay' type="number")
	
				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateExtraHour' | translate}}
						input(ng-model='rateForm.rates.AGENT.inputParameters.rateExtraHour' type="number")

		// Agent armed

		fieldset.fieldset-flex
			.fieldset-flex

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.agentArmed' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.typeTime' | translate}}
						md-select(aria-label='type' ng-model='rateForm.rates.AGENT_ARMED.inputParameters.type' ng-change='updateRatesValuesSpecialOps()')
							md-option(value='DAY') {{ 'client.rates.typeTimeDay' | translate }}
							md-option(value='ONLY_HOUR') {{ 'client.rates.typeTimeHour' | translate }}

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT_ARMED.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.rateDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT_ARMED.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursFullDay' | translate}}
						input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.hoursFullDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT_ARMED.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateMinimum' | translate}}
						input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.rateMinimum' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.AGENT_ARMED.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.hoursHalfDay' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateExtraHour' | translate}}
						input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.rateExtraHour' type="number")

		// Greeter
		fieldset.fieldset-flex
			.fieldset-flex

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.greeter' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.typeTime' | translate}}
						md-select(aria-label='type' ng-model='rateForm.rates.GREETER.inputParameters.type' ng-change='updateRatesValuesSpecialOps()')
							md-option(value='DAY') {{ 'client.rates.typeTimeDay' | translate }}
							md-option(value='ONLY_HOUR') {{ 'client.rates.typeTimeHour' | translate }}

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.GREETER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.GREETER.inputParameters.rateDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.GREETER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursFullDay' | translate}}
						input(ng-model='rateForm.rates.GREETER.inputParameters.hoursFullDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.GREETER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateMinimum' | translate}}
						input(ng-model='rateForm.rates.GREETER.inputParameters.rateMinimum' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.GREETER.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.GREETER.inputParameters.hoursHalfDay' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateExtraHour' | translate}}
						input(ng-model='rateForm.rates.GREETER.inputParameters.rateExtraHour' type="number")
	

		// Coordinator
		fieldset.fieldset-flex
			.fieldset-flex

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.coordinator' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.typeTime' | translate}}
						md-select(aria-label='type' ng-model='rateForm.rates.COORDINATOR.inputParameters.type' ng-change='updateRatesValuesSpecialOps()')
							md-option(value='DAY') {{ 'client.rates.typeTimeDay' | translate }}
							md-option(value='ONLY_HOUR') {{ 'client.rates.typeTimeHour' | translate }}

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.COORDINATOR.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.COORDINATOR.inputParameters.rateDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.COORDINATOR.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursFullDay' | translate}}
						input(ng-model='rateForm.rates.COORDINATOR.inputParameters.hoursFullDay' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.COORDINATOR.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.rateMinimum' | translate}}
						input(ng-model='rateForm.rates.COORDINATOR.inputParameters.rateMinimum' type="number")

				.an-material.nopadding
					md-input-container.full(ng-hide='rateForm.rates.COORDINATOR.inputParameters.type==="ONLY_HOUR"')
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.COORDINATOR.inputParameters.hoursHalfDay' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateExtraHour' | translate}}
						input(ng-model='rateForm.rates.COORDINATOR.inputParameters.rateExtraHour' type="number")
	


	.section-form
		p.form-section-glarus
			| {{ 'client.rates.vehicle' | translate }}

		// Vehicle
		fieldset.fieldset-flex
			.fieldset-flex
		
				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.vehicle' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.VEHICLE.inputParameters.rateDay' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.VEHICLE.inputParameters.hoursHalfDay' type="number")

		// Vehicle armored
		fieldset.fieldset-flex
			.fieldset-flex

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.vehicleArmored' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.VEHICLE_ARMORED.inputParameters.rateDay' type="number")
				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.VEHICLE_ARMORED.inputParameters.hoursHalfDay' type="number")

	.section-form
		p.form-section-glarus
			| {{ 'client.rates.vehiclePlusStaff' | translate }}
		// Transport
		fieldset.fieldset-flex
			.fieldset-flex

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.function' | translate}}
						input(value="{{ 'client.rates.transport' | translate}}" ng-disabled='true')

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateDay' | translate}}
						input(ng-model='rateForm.rates.TRANSPORT.inputParameters.rateDay' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.hoursFullDay' | translate}}
						input(ng-model='rateForm.rates.TRANSPORT.inputParameters.hoursFullDay' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateMinimum' | translate}}
						input(ng-model='rateForm.rates.TRANSPORT.inputParameters.rateMinimum' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.hoursHalfDay' | translate}}
						input(ng-model='rateForm.rates.TRANSPORT.inputParameters.hoursHalfDay' type="number")

				.an-material.nopadding
					md-input-container.full
						label {{ 'client.rates.rateExtraHour' | translate}}
						input(ng-model='rateForm.rates.TRANSPORT.inputParameters.rateExtraHour' type="number")