form(name='rateSpecialOpsForm')
	.section-form
		p.form-section-glarus
			| {{ 'client.rates.staff' | translate }}
		// Driver
		div.an-material
			md-input-container
				label {{ 'client.rates.function' | translate}}
				input(value="{{ 'client.rates.driver' | translate}}" ng-disabled='true')
			md-input-container
				label {{ 'client.rates.rateDay' | translate}}
				input(ng-model='rateForm.rates.DRIVER.inputParameters.rateDay' type="number")
			md-input-container
				label {{ 'client.rates.hoursFullDay' | translate}}
				input(ng-model='rateForm.rates.DRIVER.inputParameters.hoursFullDay' type="number")
			md-input-container
				label {{ 'client.rates.rateMinimum' | translate}}
				input(ng-model='rateForm.rates.DRIVER.inputParameters.rateMinimum' type="number")
			md-input-container
				label {{ 'client.rates.hoursHalfDay' | translate}}
				input(ng-model='rateForm.rates.DRIVER.inputParameters.hoursHalfDay' type="number")
			md-input-container
				label {{ 'client.rates.rateExtraHour' | translate}}
				input(ng-model='rateForm.rates.DRIVER.inputParameters.rateExtraHour' type="number")
		// Agent
		div.an-material
			md-input-container
				label {{ 'client.rates.function' | translate}}
				input(value="{{ 'client.rates.agent' | translate}}" ng-disabled='true')
			md-input-container
				label {{ 'client.rates.rateDay' | translate}}
				input(ng-model='rateForm.rates.AGENT.inputParameters.rateDay' type="number")
			md-input-container
				label {{ 'client.rates.hoursFullDay' | translate}}
				input(ng-model='rateForm.rates.AGENT.inputParameters.hoursFullDay' type="number")
			md-input-container
				label {{ 'client.rates.rateMinimum' | translate}}
				input(ng-model='rateForm.rates.AGENT.inputParameters.rateMinimum' type="number")
			md-input-container
				label {{ 'client.rates.hoursHalfDay' | translate}}
				input(ng-model='rateForm.rates.AGENT.inputParameters.hoursHalfDay' type="number")
			md-input-container
				label {{ 'client.rates.rateExtraHour' | translate}}
				input(ng-model='rateForm.rates.AGENT.inputParameters.rateExtraHour' type="number")
		// Agent armed.
		div.an-material
			md-input-container
				label {{ 'client.rates.function' | translate}}
				input(value="{{ 'client.rates.agentArmed' | translate}}" ng-disabled='true')
			md-input-container
				label {{ 'client.rates.rateDay' | translate}}
				input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.rateDay' type="number")
			md-input-container
				label {{ 'client.rates.hoursFullDay' | translate}}
				input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.hoursFullDay' type="number")
			md-input-container
				label {{ 'client.rates.rateMinimum' | translate}}
				input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.rateMinimum' type="number")
			md-input-container
				label {{ 'client.rates.hoursHalfDay' | translate}}
				input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.hoursHalfDay' type="number")
			md-input-container
				label {{ 'client.rates.rateExtraHour' | translate}}
				input(ng-model='rateForm.rates.AGENT_ARMED.inputParameters.rateExtraHour' type="number")
		// Coordinator
		div.an-material
			md-input-container
				label {{ 'client.rates.function' | translate}}
				input(value="{{ 'client.rates.coordinator' | translate}}" ng-disabled='true')
			md-input-container
				label {{ 'client.rates.rateDay' | translate}}
				input(ng-model='rateForm.rates.COORDINATOR.inputParameters.rateDay' type="number")
			md-input-container
				label {{ 'client.rates.hoursFullDay' | translate}}
				input(ng-model='rateForm.rates.COORDINATOR.inputParameters.hoursFullDay' type="number")
			md-input-container
				label {{ 'client.rates.rateMinimum' | translate}}
				input(ng-model='rateForm.rates.COORDINATOR.inputParameters.rateMinimum' type="number")
			md-input-container
				label {{ 'client.rates.hoursHalfDay' | translate}}
				input(ng-model='rateForm.rates.COORDINATOR.inputParameters.hoursHalfDay' type="number")
			md-input-container
				label {{ 'client.rates.rateExtraHour' | translate}}
				input(ng-model='rateForm.rates.COORDINATOR.inputParameters.rateExtraHour' type="number")
	.section-form
		p.form-section-glarus
			| {{ 'client.rates.vehicle' | translate }}
		// Vehicle
		div.an-material
			md-input-container
				label {{ 'client.rates.function' | translate}}
				input(value="{{ 'client.rates.vehicle' | translate}}" ng-disabled='true')
			md-input-container
				label {{ 'client.rates.rateDay' | translate}}
				input(ng-model='rateForm.rates.VEHICLE.inputParameters.rateDay' type="number")
			md-input-container
				label {{ 'client.rates.hoursHalfDay' | translate}}
				input(ng-model='rateForm.rates.VEHICLE.inputParameters.hoursHalfDay' type="number")
		// Vehicle armored
		div.an-material
			md-input-container
				label {{ 'client.rates.function' | translate}}
				input(value="{{ 'client.rates.vehicleArmored' | translate}}" ng-disabled='true')
			md-input-container
				label {{ 'client.rates.rateDay' | translate}}
				input(ng-model='rateForm.rates.VEHICLE_ARMORED.inputParameters.rateDay' type="number")
			md-input-container
				label {{ 'client.rates.hoursHalfDay' | translate}}
				input(ng-model='rateForm.rates.VEHICLE_ARMORED.inputParameters.hoursHalfDay' type="number")
	.section-form
		p.form-section-glarus
			| {{ 'client.rates.vehiclePlusStaff' | translate }}
		// Transport
		div.an-material
			md-input-container
				label {{ 'client.rates.function' | translate}}
				input(value="{{ 'client.rates.transport' | translate}}" ng-disabled='true')
			md-input-container
				label {{ 'client.rates.rateDay' | translate}}
				input(ng-model='rateForm.rates.TRANSPORT.inputParameters.rateDay' type="number")
			md-input-container
				label {{ 'client.rates.hoursFullDay' | translate}}
				input(ng-model='rateForm.rates.TRANSPORT.inputParameters.hoursFullDay' type="number")
			md-input-container
				label {{ 'client.rates.rateMinimum' | translate}}
				input(ng-model='rateForm.rates.TRANSPORT.inputParameters.rateMinimum' type="number")
			md-input-container
				label {{ 'client.rates.hoursHalfDay' | translate}}
				input(ng-model='rateForm.rates.TRANSPORT.inputParameters.hoursHalfDay' type="number")
			md-input-container
				label {{ 'client.rates.rateExtraHour' | translate}}
				input(ng-model='rateForm.rates.TRANSPORT.inputParameters.rateExtraHour' type="number")