doctype html
html(ng-app='MyApp')
	head
		title Janux Authorization
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		base(href='/')
		link(rel='stylesheet', href=cfg.server.static+'/'+cfg.dir.css+'/main.css')
		link(rel='stylesheet', href=cfg.server.static+'/'+cfg.dir.css+'/angular-aside.min.css')

		script(src=cfg.server.static+'/'+cfg.file.app)

	body
		side-bar

		.container
			logo-bar

			//nav
			//	ul
			//		li.first(ui-sref-active='active'): a(ui-sref='dashboard', translate='dashboard.title')
			//		li(ui-sref-active='active'): a(ui-sref='users', translate='user.title')
			//		li(ui-sref-active='active'): a(ui-sref='roles', translate='role.title')
			//		li(ui-sref-active='active'): a(ui-sref='permissions', translate='permission.title')

			section.maincolumn(ui-view)

// vim: set fo=rq wrap:
