.divider-line,
.divider-line-glarus
{
	padding-bottom:10px;
}
.divider-line{
	border-top:2px solid @green2;
}
.divider-line-glarus{
	border-top:2px solid @glarus-blue;
}

md-toolbar.form-mid-toolbar{
	background: @grey2;
	color: @green1;
	border-top:1px solid @grey2;
	z-index: 0;

	button.md-accent {
		color: @white;
	}
	md-nav-ink-bar{
		background: @white;
	}
}

.btn-row-fixed{
	position:fixed; 
	left:0; 
	bottom:30px; 
	height:50px; 
	background:@glarus-blue; 
	width:100%; 
	z-index:50; 
	padding:7px
}

.form-mid-toolbar-glarus{
	background: @glarus-blue;
	padding: 8px;
	z-index: 0;
	margin: 0 !important;

	// Instead of tabs we have text only
	.text-only {
		width:70%;
		color: @white;
		padding: 7px 0 0 15px;
	}
}

.md-button.trash,.md-button.save,.md-button.cancel{
	border-radius: 20% !important;
	box-shadow: 2px 2px 3px @grey1;
}

.md-button.trash{
	background: #706e6e;
}
.md-button.save{
	background: @green2;
}
.md-button.cancel{
	background: #d0021b;
}
.md-icon-button.options{
	background: none;
	width: 20px !important; 
	padding: 0px !important;; 
	margin:0px !important;
	&:hover{
		background: none !important;
	}
}
.points{
	color:@grey1 !important; 
	padding-right: 5px;
	&:hover{
		color: @white !important;
	}
}
md-toolbar.form-root-toolbar{
	background: @toolbar-glarus;
	color: @glarus-blue;
	padding-bottom:5px;
	padding-right: 20px;
	z-index: 0;
	.small-device({ padding-right: 0px;});
	.smallest-device({ padding-right: 0px;});
}
.md-toolbar-tools.form-toolbar .md-button{
	border-radius: 10%;
	&:hover{
		background: @green1;
	}
}
.md-toolbar-tools.form-toolbar-glarus .md-button{
	border-radius: 10%;
	&:hover{
		background: @glarus-blue;
	}
}

// This is a proposal of toolbar with tabs, currently implemented in:
// users and client modules
.tabs-glarus {

	margin: 20px;
	width:100%;
	overflow: inherit;
	.small-device({ margin: 0px;});
	.smallest-device({ margin: 0px;});

	md-toolbar.options-tabs {

		min-height: 48px !important;

		.md-toolbar-tools {
			padding: 0 20px 0 0 !important;
			height: 48px;
			max-height: 48px;

			md-truncate.filter {
				margin-left: 90px;
			}

			label, span {
				color: @white;
			}
			label {
				padding-top: 8px;
				padding-right: 5px;
			}
		}

		li.md-nav-item {
			margin-left:0;
			.small-device({ max-width: 120px;});
			.smallest-device({ max-width: 120px;});
		}

		.md-button.md-icon-button {
			width: 32px;
			height: 32px;
			min-height: 32px;
			padding-left: 4px;
			.fa-lg {
				line-height: 0.40em;
			}
		}

		md-nav-bar md-nav-ink-bar {
			background: url('/img/nav-ink-bar.png') no-repeat top center;
			height:7px;

		}

		.active:after{
			all: initial;
		}
	}

	md-toolbar.form-mid-toolbar{
		background: @glarus-blue;
		color: @toolbar-glarus;
		border-top:1px solid @grey2;
		z-index: 0;

		.md-unselected {
			color: rgba(255,255,255,0.54);
		}
	}
}

//
// Material tabs for glarus
//

md-tabs.glarus {

	border: 1px solid @grey;

	md-tabs-wrapper {
		background: @glarus-blue;
		color: @toolbar-glarus;
		border-top: 1px solid @grey2;
		z-index: 0;
		padding-bottom: 1px;
	}

	.md-tab {
		color: rgba(255,255,255,0.54);
	}

	.md-tab.md-active {
		color: @white;
	}

	md-ink-bar {
		background: url('/img/nav-ink-bar.png') no-repeat top center;
		height:7px;
	}

	md-content {
		background: none;
	}

	.md-ripple-container {
		background-color: transparent !important;
	}
	.md-ripple-container .md-ripple{
		background-color: @white !important;
	}
}

md-menu-content {
	.md-button {
		text-align: left !important;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.md-button.add{
	color: @white;
	background: @glarus-blue;
	&:hover{
		background: @hover-glarus !important;
	}
}


.md-button.grid{
	color: @white;
	background: @glarus-blue;
	&:hover{
		background: @hover-glarus !important;
	}
}

.md-button.arrow{
	color: @white;
	background: @glarus-blue;
	&:hover{
		background: @hover-glarus !important;
	}
}

.an-material{
	padding-left: 0px;
	label{
		font-weight: normal !important;
	}
	.hint {
	    position: absolute;
	    left: 2px;
	    right: auto;
	    bottom: 7px;
	    font-size: 12px;
	    line-height: 14px;
	    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	    color: grey;
	}
    .full{
    	width: 100%;
    	margin: 0;
    	.ng-pristine{
			border-color: #dcdcdc !important;
		}
	}
	.full-panel{
    	width: 100%;
    	margin: 0;
    	padding-right: 10px;
    	.ng-pristine{
			border-color: @glarus-blue !important;
		}
    }
}
.an-material-login{
	padding-left: 0px;
	label{
		font-weight: normal !important;
	}
	.hint {
	    position: absolute;
	    left: 2px;
	    right: auto;
	    bottom: 7px;
	    font-size: 12px;
	    line-height: 14px;
	    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	    color: grey;
	}
    .full{
    	width: 100%;
    	margin: 20px 0;
    	.ng-pristine{
			border-color: #dcdcdc !important;
		}

    }
}
.an-material-login{
	padding-left: 0px;
	label{
		font-weight: normal !important;
	}
	.hint {
	    position: absolute;
	    left: 2px;
	    right: auto;
	    bottom: 7px;
	    font-size: 12px;
	    line-height: 14px;
	    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	    color: grey; 
	}
    .full{
    	width: 100%;
    	margin: 20px 0;
    	.ng-pristine{
			border-color: #dcdcdc !important;
		}

    }
}
.plus-btn-glarus,
.plus-btn{
	float: right;
	border-radius:20% !important;
}
.plus-btn{
	background:@green2 !important;
	&:hover{
		background: @green1 !important;
	}
}

.plus-btn-glarus{
	background:@glarus-blue !important;
	&:hover{
		background: @hover-glarus !important;
	}
}

.trash-btn{
	background:@grey2 !important;
	border-radius:20% !important;
	float: right;
	&:hover{
		background: @grey1 !important;
	}
}
.form-section,
.form-section-glarus{
	display:table;
	padding:4px 10px 4px 10px;
	margin-bottom: 30px;
	color:white;
}

.form-section{
	background:@green2;
}
.form-section-glarus{
	background: @footer-glarus;
}
.staff-form-left,
.staff-form-right{
	overflow: hidden;
	padding-top: 12px;
	display: inline-block;
	vertical-align: top;
	md-checkbox{
		margin-top: -20px;
		.md-label{
			padding-top: 40px;
			font-size: 11px;
			margin-left: 0px !important;
		}
	}

	md-checkbox.inline{
		.md-label{
			padding-top: 0px;
			font-size: 16px;
			margin-left: 30px !important;
			white-space: nowrap;
		}
	}
}
.staff-form-left{
	width: 55%;
	.small-device({ width: 100%;});
	.smallest-device({ width: 100%;});
}
.staff-form-right{
	width: 44%;
	.small-device({ width: 100%;});
	.smallest-device({ width: 100%;});
}
.section-form{
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.jx-checkbox {
	width: 20px;
	position: relative;
	margin: 20px auto;

	label {
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(top, #222 0%, #45484d 100%);
		border-radius: 3px;
		box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);
		&:after {
			content: '';
			width: 12px;
			height: 8px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 3px solid #fcfff4;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
		}
		&:hover::after {
			opacity: 0.3;
		}
	}
	input[type=checkbox] {
		visibility: hidden;
		&:checked + label:after {
			opacity: 1;
		}
	}
}

.ng-invalid {
	border-color: @invalid !important;
}

.ng-valid {
	border-color: @valid !important;
}

.ng-pristine {
	border-color: @pristine !important;
}
.spacing-bottom{
	margin-bottom: 40px;
}

.staff-name{
	background:none;
	color:@footer-glarus;
	margin-left:15px;
	.small-device({ margin:0px;});
	.smallest-device({ margin:0px;});
}

.breadcrumb-nav {
	background:none;
	color:@footer-glarus;
	margin:10px 25px 0 25px;
	h4 {
		font-weight:bold;
	}
}

.spacing-ls{
	margin:0 20px 0 20px;
	width: 100%;
	.small-device({ margin:0 !important;});
	.smallest-device({ margin:0 !important;});

}
.form-group {
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
 }
 .masonry {
  display: flex;
  display: -webkit-flex;
  flex-flow: wrap;
}

.masonry-brick {
	flex: 0 50%;
	padding: 0 10px 0 10px;
  	box-sizing:border-box;
}
.fieldset-flex{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	width: 100%;
}
.fieldset-flex>div{
	padding: 3px;
}
.flex-mobile{
	.small-device({ flex-direction: row; flex-wrap: wrap;});
	.smallest-device({ flex-direction: row; flex-wrap: wrap;});
}
.btn-row{
	width:100% !important;
	display:inline-block;
	text-align:right;
	float: right;
}

.btn-row-form{
	width:100%;
	display:inline-block;
	text-align:right;
}
 // Style buttons

.btn {
    background-color: @glarus-blue;
    border: 1px solid #7b97a6;
    color: @white;
    padding: 5px 9px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
    	background-color: @hover-glarus;
	    color: @white;
	    border: 1px solid @glarus-blue;
    }
}

.btn-close {
    background: none;
    border: none !important;
    color: #56635d;
    font-size: 16px;
    cursor: pointer;
    &:hover{
	    color: @glarus-blue;
    }
}

.btn-plus {
    background-color: @glarus-blue;
    border: none;
    border-radius: 3px;
    color: @white;
    padding: 5px 9px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
    	background-color: @hover-glarus;
    	border: none;
	    color: @white;
    }
}
.btn-trash {
    background-color: @grey2;
    border: none;
    border-radius: 3px;
    color: @white;
    padding: 5px 9px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
    	background-color: @grey1;
    	border: none;
	    color: @white;
    }
}

//Form for side Panel

.spanel-form-left,
.spanel-form-right{
	width: 49%;
	overflow: hidden;
	padding-top: 12px;
	display: inline-block;
	vertical-align: top;
	.small-device({ width: 100%;});
	.smallest-device({ width: 100%;});
}
.spanel-form-left-100w{
	width: 100% !important;	
}

.section-pad{
	background:#96a79f; 
	width:100%; 
	font-size:11px; 
	padding:20px 20px 40px 20px; 
	border-radius:5px;
}

.form-label{
	font-size:11px; 
	padding-left:5px;
}

.md-datepicker-input-container{
	width: 80% !important;
	.small-device({ max-width: 76% !important;});
	.smallest-device({ max-width: 76% !important;});
}

md-autocomplete{
	height: 70px !important;
}

//material dialog for mobile

md-dialog {
	.small-device({ max-width: 97% !important;});
	.smallest-device({ max-width: 97% !important;});
}

.filter-right{
	font-size:14px;
	display: inline-block;
	width: 100% !important;
	float: right;
	text-align: right;
}

.input-text-invoice{
	border:none; padding:5px; 
	background:#dadada;
}
.select-input-invoice{
	border:none; 
	padding:5px 20px 5px 5px; 
	-webkit-appearance:none;
}
.select-wrapper{
	&::after{
		font-family: @font-awesome;
		position:relative;
		left: -22px;
		content: " \f078";
	}
}
