.divider-line,
.divider-line-glarus
{
	padding-bottom:10px; 
}
.divider-line{
	border-top:2px solid @green2;	
}
.divider-line-glarus{
	border-top:2px solid @glarus-blue;
}
md-toolbar.form-mid-toolbar{
	background: @grey2;
	color: @green1;
	border-top:1px solid @grey2;
	z-index: 0;
}
.form-mid-toolbar-glarus{
	background: @glarus-blue;
	padding: 11px;
	z-index: 0;
}
md-toolbar.form-mid-toolbar{
	button.md-accent {
		color: @white;
	}
	md-nav-ink-bar{
		background: @white;
	}
}
.md-button.trash,.md-button.save,.md-button.cancel{
	border-radius: 20% !important;
	box-shadow: 2px 2px 3px @grey1;
}

.md-button.trash{
	background: #706e6e;
}
.md-button.save{
	background: @green2;
}
.md-button.cancel{
	background: #d0021b;
}
md-toolbar.form-root-toolbar{
	background: @toolbar-glarus;
	color: @glarus-blue;
	padding-bottom:5px;
	padding-right: 20px; 
	z-index: 0;
}
.md-toolbar-tools.form-toolbar .md-button{
	border-radius: 10%;
	&:hover{
		background: @green1;
	}
}
.md-toolbar-tools.form-toolbar-glarus .md-button{
	border-radius: 10%;
	&:hover{
		background: @glarus-blue;
	}
}

.md-button.add{
	color: @white;
	background: @glarus-blue;
	&:hover{
		background: @hover-glarus !important;
	}
}

.md-button.grid{
	color: @white;
	background: @glarus-blue;
	&:hover{
		background: @hover-glarus !important;
	}
}

.md-button.arrow{
	color: @white;
	background: @glarus-blue;
	&:hover{
		background: @hover-glarus !important;
	}
}

.an-material{
	padding-left: 0px;
	label{
		font-weight: normal !important;
	}
	.hint {
	    position: absolute;
	    left: 2px;
	    right: auto;
	    bottom: 7px;
	    font-size: 12px;
	    line-height: 14px;
	    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	    color: grey; 
	}
    .full{
    	width: 100%;
    	margin: 0;
    	.ng-pristine{
			border-color: #dcdcdc !important;
		}

    }
}
.an-material-login{
	padding-left: 0px;
	label{
		font-weight: normal !important;
	}
	.hint {
	    position: absolute;
	    left: 2px;
	    right: auto;
	    bottom: 7px;
	    font-size: 12px;
	    line-height: 14px;
	    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	    color: grey; 
	}
    .full{
    	width: 100%;
    	margin: 20px 0;
    	.ng-pristine{
			border-color: #dcdcdc !important;
		}

    }
}
.plus-btn-glarus,
.plus-btn{
	float: right;
	border-radius:20% !important;
}
.plus-btn{
	background:@green2 !important;
	&:hover{
		background: @green1 !important;
	}
}

.plus-btn-glarus{
	background:@glarus-blue !important;
	&:hover{
		background: @hover-glarus !important;
	}
}

.trash-btn{
	background:@grey2 !important;
	border-radius:20% !important;
	float: right;
	&:hover{
		background: @grey1 !important;
	}
}
.form-section,
.form-section-glarus{
	display:table; 
	padding:4px 10px 4px 10px; 
	margin-bottom: 30px;
	color:white;
}

.form-section{
	background:@green2; 
}
.form-section-glarus{
	background: @footer-glarus; 
}
.staff-form-left,
.staff-form-right{
	overflow: hidden;
	padding-top: 12px;
	display: inline-block;
	vertical-align: top;
	md-checkbox{
		margin-top: -20px;
		.md-label{
			padding-top: 40px;
			font-size: 11px;
			margin-left: 0px !important;
		}
	}	
}
.staff-form-left{
	width: 55%;
	.small-device({ width: 100%;});
	.smallest-device({ width: 100%;});
}
.staff-form-right{
	width: 44%;
	.small-device({ width: 100%;});
	.smallest-device({ width: 100%;});
}
.section-form{
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.jx-checkbox {
	width: 20px;
	position: relative;
	margin: 20px auto;

	label {
		width: 20px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(top, #222 0%, #45484d 100%);
		border-radius: 3px;
		box-shadow: inset 0px 1px 1px rgba(255,255,255,0.5), 0px 1px 0px rgba(255,255,255,.4);
		&:after {
			content: '';
			width: 12px;
			height: 8px;
			position: absolute;
			top: 4px;
			left: 4px;
			border: 3px solid #fcfff4;
			border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
		}
		&:hover::after {
			opacity: 0.3;
		}
	}
	input[type=checkbox] {
		visibility: hidden;
		&:checked + label:after {
			opacity: 1;
		}
	}
}

.ng-invalid {
	border-color: @invalid !important;
}

.ng-valid {
	border-color: @valid !important;
}

.ng-pristine {
	border-color: @pristine !important;
}
.spacing-bottom{
	margin-bottom: 40px;
}

.staff-name{
	background:none; 
	color:@footer-glarus; 
	margin:10px 25px;
}
.spacing-ls{
	margin:0 20px 0 20px;
	width: 100%;
}
.form-group {
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
 }
 .masonry { 
  display: flex;
  display: -webkit-flex;
  flex-flow: wrap;
}

.masonry-brick {
	flex: 0 50%;
	padding: 0 10px 0 10px;
  	box-sizing:border-box;
}
.fieldset-flex{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	width: 100%;
}
.fieldset-flex>div{
	padding: 3px;
}
.btn-row{
	width:29%; 
	display:inline-block; 
	text-align:right;
}

.btn-row-form{
	width:100%; 
	display:inline-block; 
	text-align:right;
}
 // Style buttons 

.btn {
    background-color: @glarus-blue;
    border: 1px solid #7b97a6;
    color: @white;
    padding: 5px 9px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
    	background-color: @hover-glarus;
	    color: @white;
	    border: 1px solid @glarus-blue;
    }
}

.btn-plus {
    background-color: @glarus-blue;
    border: none;
    border-radius: 3px;
    color: @white;
    padding: 5px 9px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
    	background-color: @hover-glarus;
    	border: none;
	    color: @white;
    }
}
.btn-trash {
    background-color: @grey2;
    border: none;
    border-radius: 3px;
    color: @white;
    padding: 5px 9px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
    	background-color: @grey1;
    	border: none;
	    color: @white;
    }
}