@import "semantic-grid/stylesheets/less/grid.less"; // from bower
@import "layouts/users";
@import "layouts/permission";

html, body, section {
	height: 100%;
	background-color: @white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

hr {
	border-top: 2px solid @grey2;
}

input[type='text'], input[type='password'] {
	background: white;
	border:1px solid @grey2;
	padding:1px;
}

.container {
	width:100%;
    display: -webkit-flex;
    display: flex;
	padding: 0;
	min-height:~"calc(100% - "@toolbar-height~"*2)";
}

header {
	width: 100%;
}

a.link {
	text-decoration: none;

	&.primary { color:@green2; }
	&.secondary { color:@grey1; padding-left:10px; }

	img {
		padding-right:10px;
	}
}

// main column & sidebar
.maincolumn {
	padding:0 20px;
	width: ~"calc(100% - "@sidebar-width~")";
	color: @grey1;

	.sidebar-room {
		// margin-left: @sidebar-width;
		width: 100%;
	}

	.small-device({ .sidebar-room });
	.medium-device({ .sidebar-room });
	.large-device({ .sidebar-room });
	.xl-device({ .sidebar-room });

	.title-bar {
	    display: -webkit-flex;
        display: flex;
        color: @green1;
        padding-top: 15px;
		.title {
			.rem(font-size, 20);
			font-weight: bold;
			width: 50%;
		}

		.options {
			text-align: right;
			width: 50%;
			a {
				color: @green1;
				cursor:pointer;
				font-weight: bold;
				padding-left:15px;
				text-decoration: none;
			}
		}
	}
}

.show{  display: inline;  }
.hide{  display: none;  }


