@import "semantic-grid/stylesheets/less/grid.less"; // from bower

html, body, section {
	height: 100%;
	background-color: @sageLight;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
} 

.container {
	width: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

header {
	display: inline;
	float: left;
	width: 100%;
}

// main column & sidebar
.maincolumn {
	padding:0 20px;
	float:left;
	width:100%;

	.sidebar-room{
		margin-left: @sidebar-width;
	}

	.small-device({ .sidebar-room });
	.medium-device({ .sidebar-room });
	.large-device({ .sidebar-room });
	.xl-device({ .sidebar-room });
}

.show{  display: inline;  }
.hide{  display: none;  }
