login-toolbar(toolbar-title='peopleOrgs.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
				.md-toolbar-tools.form-toolbar-glarus
					md-truncate
						span.title-breadcrum
							| {{ 'peopleOrgs.title' | translate }}
						h2.title-bar-txt
							| {{ 'supplier.listTitle' | translate }}
					span(flex)

					md-button.add.md-icon-button.form-btn-toolbar(aria-label="Add" ui-sref='supplier.create' ng-show='userRole.can("CREATE",subOption.authContext);')
						md-icon.fa.fa-user-plus.fa-lg

					md-button.grid.md-icon-button.form-btn-toolbar(aria-label="Grid")
						md-icon.fa.fa-table.fa-lg

					md-button.arrow.md-icon-button(aria-label="Upload")
						md-icon.fa.fa-upload.fa-lg
		.container-body
			table.list-glarus.users-list(ng-show='suppliersList.length')
				thead
					tr
						th {{ 'supplier.name' | translate }}
						th {{ 'supplier.address' | translate }}
						th {{ 'supplier.contact' | translate }}
						th {{ 'supplier.email' | translate }}
						th {{ 'supplier.phone' | translate }}
						th {{ 'supplier.cellphone' | translate }}
						th(ng-show='userRole.can("UPDATE",subOption.authContext);')
							.col-edit-client {{ 'supplier.edit' | translate }}
						th(ng-show='userRole.can("DELETE",subOption.authContext);')
							md-button.md-icon-button(aria-label="Trash" style="background:none; margin:0px;")
								md-icon.fa.fa-trash.fa-lg(style="color:#ffffff; background:none; padding:0px")
				tbody
					tr(ng-repeat='supplier in suppliersList')
						td {{ supplier.name }}
						td {{ supplier.postalAddress('work').line1 }}
						td {{ supplier.contact }}
						td {{ supplier.emailAddress('work').address}}
						td {{ supplier.phoneNumber('work').number }}
						td {{ supplier.phoneNumber('cellphone').number }}
						td.text-center(ng-show='userRole.can("UPDATE",subOption.authContext);')
							a.action-button-glarus
								span.fa.fa-pencil.fa-lg(ng-click='editClient(supplier.id)')
						td(style="text-align:center" ng-show='userRole.can("DELETE",subOption.authContext);')
							md-checkbox(aria-label="Trash" ng-model='supplier.Selected' class="md-primary" style="margin-top:12px; margin-left:10px;")

				
				//- .users-filter
				//- 	form.form-inline
				//- 		.form-group
				//- 			label(for='username') Find by:
				//- 			select.form-control(ng-model='searchField' ng-options='field as field for field in searchFields')
				//- 			input.form-control(id='username' type='text' ng-model='searchString')
				//- 			button.btn.btn-default(type='submit' ng-click='findUsers()') {{ 'label.search' | translate }}

footer-Janux