.container-flex-form(style="padding:25px;")
	table.list-glarus.contacts-list(ng-show='contacts.length')
		thead
			tr
				th {{ 'party.person.name' | translate }}
				th {{ 'party.phone' | translate }}
				th {{ 'party.email' | translate }}
				th {{ 'party.person.area' | translate }}
				th {{ 'supplier.available' | translate }}
				th(ng-show='userRole.can("READ",subOption.authContext);')
					.col-edit-contact {{ 'user.edit' | translate }}
		tbody
			tr(ng-repeat='contact in contacts track by contact.id')
				td {{ contact.name.last }} {{ contact.name.maternal }} {{ contact.name.first }}  {{ contact.name.middle }}
				td {{ contact.phoneNumber('work').number }}
				td {{ contact.emailAddress('work').address }}
				td {{ contact.area }}
				td.checkbox-center
					md-checkbox(aria-label="Trash" ng-model='contact.isAvailable' class="md-primary" ng-change='switchAvailability(contact.isAvailable,contact.id)' )
					//a.action-button-glarus
					//	span.fa.fa-exchange.fa-lg(ng-click='switchAvailability(!contact.isAvailable,contact.id)' style="margin-left:8px;")
				td.action(ng-show='userRole.can("READ",subOption.authContext);')
					a.action-button-glarus
						span.fa.fa-pencil.fa-lg(ng-click='editClientContact(contact.id)' style="margin-left:8px;")

