form.login-form(name='form', novalidate)
	.modal-header
		h4(translate='label.login')

	.modal-body
		.alert.alert-warning(ng-show='authReason') {{authReason}}
		.alert.alert-error(ng-show='authError') {{authError}}

		.alert.alert-info(translate='login.msg.enterCredentials')

		div
			label(translate='label.username' style='width: 33%')
			input(name='login', ng-model='user.account.name', required, autofocus)

		div
			label(translate='label.password' style='width: 33%')
			input(name="pass", type='password', ng-model='user.account.password', required)

	.modal-footer
		button.btn.btn-primary.login(ng-click='login()', ng-disabled='form.$invalid', translate='label.login')
		button.btn.clear(ng-click='clearForm()', translate='label.clear')
		button.btn.btn-warning.cancel(ng-click='cancelLogin()', translate='label.cancel')


