form.login-form(name='form', novalidate)

	.login-body

		img.logo(src='/img/janux_logo.png')
		.brand
			span.janux janux
		.brand
			span.people people
		.brand
			hr.line

		div
			p Use one of the following user/password credentials to login:
			ul
				li widget/test1
				li manager/test2
				li admin/1234567

		.alert.alert-warning(ng-show='authReason') {{authReason}}
		.alert.alert-danger(ng-show='authError') {{authError}}
		//.alert.alert-info(translate='login.msg.enterCredentials')

		.login-lbl
			label(translate='label.username')
		input.login-field(name='login', ng-model='user.account.name', required, autofocus)

		.login-lbl
			label(translate='label.password')
		input.login-field(name="pass", type='password', ng-model='user.account.password', required)

		div.text-right
			a.forgot-pass(href="#") {{ "login.forgotPass" | translate }}

		.btn-login-cnt
			button.btn.btn-login(ng-click='login()', ng-disabled='form.$invalid', translate='label.login')

		hr.line

		div.text-center
			.copy &copy; {{ "login.copy" | translate }}
