.glarus-bg
	form.glarus-login(name='form', novalidate)

		.login-body-glarus
			img.logo(src='/img/logo_glarus_color.png')

			.alert.alert-warning(ng-show='authReason') {{authReason}}
			.alert.alert-danger(ng-show='authError') {{authError}}

			div.an-material
				md-input-container.full
					label(translate='label.username')
					input(name='login', ng-model='user.account.name', required, autofocus, novalidate='')

			div.an-material
				md-input-container.full
					label(translate='label.password')
					input(name="pass", type='password', ng-model='user.account.password', required, novalidate='')

			.fieldset-flex
				div
					a.forgot-pass(href="#") {{ "login.forgotPass" | translate }}

				.btn-login-cnt
					button.btn.btn-glarus(ng-click='login()', ng-disabled='form.$invalid', translate='label.login')

			div.text-center-legal
				.copy &copy; {{ "login.copy" | translate }}

