.auth
	#login.auth-status(ng-show='!isAuthenticated()', ng-click='login()')
		span(style='margin-right: 5px', translate='label.login')
		span.entypo.entypo-login

	#logout.auth-status(ng-show='isAuthenticated()', ng-click='logout()')
		span(style='margin-right: 5px', translate='label.logout')
		span.entypo.entypo-logout

	.auth-user(ng-show='isAuthenticated()') {{currentUser.person.name.first}} {{currentUser.person.name.last}} &nbsp;
		span.entypo.entypo-down-open
