md-toolbar(ng-controller='asideMenu')
  .md-toolbar-tools.sd-page-header-glarus
    .sd-page-logo(ng-class="{'sd-page-logo-collapsed': noneStyle }")
      a(href='../')
        img.sd-logo-glarus(src='/img/logo_glarus_white_alone.png', alt='Glarus')
    
    //- md-truncate.sd-page-breadcrum
    //-   | {{ title | translate }}
    
    span(flex)
    .sd-top-menu-glarus
      md-button
        span.sd-name {{ currentUser.contact.name.first +' '+currentUser.contact.name.last}}
      md-button.md-icon-button(aria-label='EN', ng-click='toggleLang("en")')
        md-tooltip EN
        img.flag-lang(src='/img/en.png' title='en')
      md-button.md-icon-button(aria-label='ES', ng-click='toggleLang("es")')
        md-tooltip ES
        img.flag-lang(src='/img/es.png' title='es')
      md-button.md-icon-button(aria-label='Logout', ng-sshow='isAuthenticated()', ng-click='logout()')
        md-tooltip {{ 'label.logout' | translate }}
        md-icon.fa.fa-sign-out.fa-lg
    md-button.md-icon-button.navbar-toggle-btn(aria-label='Menu', ng-click='openMenu()')
      md-icon.fa.fa-bars.fa-lg

//- .sd-page-header(ng-controller='asideMenu')
//-     .sd-page-logo(ng-class="{'toggleMenu': isCollapsed}")
//-       a(href='../')
//-         img.sd-logo-default(src='/img/janux_logo.png', alt='Janux')
//-     .sd-page-breadcrum
//-       | {{ title | translate }}
//-     .sd-top-menu
//-       ul
//-         li
//-           a.sd-name(href='#') {{ currentUser.contact.name.first +' '+currentUser.contact.name.last}}
//-         li
//-           a(ng-show='isAuthenticated()', ng-click='logout()')
//-             i.fa.fa-sign-out.fa-lg

//-     .navbar-toggle-btn
//-        a(ng-click='openMenu()')
//-          span.fa.fa-bars.fa-lg.glyphicon-align-justify

//- header(ng-controller='asideMenu')
//- 	.login-toolbar

//- 		.auth-user(ng-show='isAuthenticated()')
//- 			.menu
//- 				span.entypo.entypo-dot-3

//- 			| {{ currentUser.contact.name.first +' '+currentUser.contact.name.last}} &nbsp;
//- 			br
//- 			span.welcome Welcome

//- 		.current-section {{ title | translate }}

//- 		.navbar-toggle-btn
//- 			a(ng-click='openMenu()')
//- 				span.glyphicon.glyphicon-align-justify

//- 		.auth
//- 			#login.auth-status(ng-show='!isAuthenticated()', ng-click='login()')
//- 				span(style='margin-right: 5px', translate='label.login')
//- 				span.entypo.entypo-login

//- 			#logout.auth-status(ng-show='isAuthenticated()', ng-click='logout()')
//- 				//span(style='margin-right: 5px', translate='label.logout')
//- 				span.entypo.entypo-logout
