.modal-body
	h4 {{ message }}

.modal-footer

	button.btn.btn-ok(ng-click='save()') {{ 'label.save' | translate }}
	| &nbsp;
	button.btn.btn-cancel(ng-click='cancel()') {{ 'label.cancel' | translate }}