md-dialog
	md-dialog-content
		.md-dialog-content
			md-content
				md-input-container
					label {{ 'services.invoice.invoiceNumber' | translate }}
					input(ng-model='newInvoiceNumber' type="text", required='')

				md-input-container
					md-datepicker(
						lang='{{ lang }}',
						ng-model="newInvoiceDate",
						format='YYYY-MM-DD',
						md-placeholder="{{ 'services.invoice.invoiceDate' | translate }}")

	md-dialog-actions
		button.btn.btn-ok(ng-click='createNewInvoice()') {{ 'label.ok' | translate }}
		button.btn.btn-cancel(ng-click='closeAddNewInvoice()') {{ 'label.cancel' | translate }}
