login-toolbar(toolbar-title='services.title')

side-bar

.page-content-wrapper.operations-page(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum
						| {{ 'services.title' | translate }}
					h2.title-bar-txt
						| {{ 'services.specialService' | translate }}:
				span(flex)


		.container-fluid-flex.spacing-bottom

			md-content.spacing-ls(style="margin-top:20px")
				.form-mid-toolbar-glarus.form-group
					.text-only
						span {{ 'services.specialService' | translate | uppercase }}

					.btn-row
						button.btn(ng-show='editMode' ng-click='save()')
							i.fa.fa-check
						button.btn(ng-show='editMode' ng-click='cancel()')
							i.fa.fa-times
						button.btn(ng-show='!editMode' ng-click='editMode=!editMode')
							i.fa.fa-pencil

				special-service(data="data", cl='cl' disabled='!editMode')
footer-Janux