md-input-container
	label Falta
	md-select(ng-model='agGridAbsenceSelect')
		md-option(value='D') Descanso (D)
		md-option(value='V') Vacaciones (V)
		md-option(value='PS') No se encuentra principal (PS)
		md-option(value='F') Falta (F)
		md-option(value='PC') PC
		md-option(value='I') I