md-input-container(md-no-float='' style='margin:0 !important')
	md-select(ng-model='agGridAbsenceSelect')
		md-option(value='D') {{ 'operations.driversTimeLog.absenceOptions.D' | translate }}
		md-option(value='V') {{ 'operations.driversTimeLog.absenceOptions.V' | translate }}
		md-option(value='PS') {{ 'operations.driversTimeLog.absenceOptions.PS' | translate }}
		md-option(value='F') {{ 'operations.driversTimeLog.absenceOptions.F' | translate }}
		md-option(value='PC') {{ 'operations.driversTimeLog.absenceOptions.PC' | translate }}
		md-option(value='I') {{ 'operations.driversTimeLog.absenceOptions.I' | translate }}
		md-option(value='NO_SERVICE_PROVIDED') {{ 'operations.driversTimeLog.absenceOptions.NO_SERVICE_PROVIDED' | translate }}
