md-input-container(md-no-float='' style='margin:0 !important')
	md-select(ng-model='agGridGuardExtra')
		md-option(value='AF') {{ 'operations.driversTimeLog.absenceOptions.D' | translate }}
		md-option(value='A') {{ 'operations.driversTimeLog.absenceOptions.V' | translate }}
		md-option(value='NM') {{ 'operations.driversTimeLog.absenceOptions.PS' | translate }}
		md-option(value='NRM') {{ 'operations.driversTimeLog.absenceOptions.F' | translate }}
