md-input-container(md-no-float='' style='margin:0 !important' aria-label="agGridGuardExtra")
	md-select(ng-model='agGridGuardExtra')
		md-option(value='AF') {{ 'operations.guardsTimeLog.extraOptions.AF' | translate }}
		md-option(value='A') {{ 'operations.guardsTimeLog.extraOptions.A' | translate }}
		md-option(value='NM') {{ 'operations.guardsTimeLog.extraOptions.NM' | translate }}
		md-option(value='NRM') {{ 'operations.guardsTimeLog.extraOptions.NRM' | translate }}
		md-option(value='CLOSED') {{ 'operations.guardsTimeLog.extraOptions.CLOSED' | translate }}
		md-option(value='NOT COVERED') {{ 'operations.guardsTimeLog.extraOptions.NOT_COVERED' | translate }}
		md-option(value='GUARD_SHIFT_MANAGER') {{ 'operations.guardsTimeLog.extraOptions.GUARD_SHIFT_MANAGER' | translate }}
