md-input-container(md-no-float='' style='margin:0 !important' aria-label="agGridSpecialOpsFunction")
	md-select(ng-model='agGridSpecialOpsFunction')
		md-option(value="DRIVER") {{ 'operations.specialsTimeLog.driver' | translate }}
		md-option(value="AGENT") {{ 'operations.specialsTimeLog.agent' | translate }}
		md-option(value="AGENT_ARMED") {{ 'operations.specialsTimeLog.agentArmed' | translate }}
		md-option(value="COORDINATOR") {{ 'operations.specialsTimeLog.coordinator' | translate }}

