.sidebar-wrapper-glarus(ng-class="{'noneStyle' : noneStyle}" ng-mouseleave="resetSubmenu();")
  ul.sidebar-nav.glarus-sidebar
    li
      a(href="#" ng-click="toggleStyle(); resetSubmenu()")
        i.fa.fa-bars.menu-open(ng-class="{'hide': noneStyle}")
        i.fa.fa-times-circle.menu-close(ng-class="{'hide': !noneStyle}")
        span
          | &nbsp;

    li(ng-repeat='option in mainMenu')
      .accordion(id="option" ng-if='!menuHasSubOptions(option)')
        .accordion-group
          .accordion-heading
            a.accordion-toggle(ui-sref='services' ui-sref-active="active" tooltip='{{ (option.translateKey | translate) }}' tooltip-placement="right" tooltip-trigger="mouseenter" tooltip-popup-delay = '300')
              i.fa(ng-class="option.iconClass")
              span.option {{ (option.translateKey | translate) }}

      .accordion(id="rightMenu1" ng-show='showOption(option)' ng-if='menuHasSubOptions(option)')
        .accordion-group
          .accordion-heading(ng-click="toggleSubmenu[option.key]();")
            a.accordion-toggle(data-toggle="collapse" data-parent="#rightMenu1" href="#" tooltip='{{ (option.translateKey | translate) }}' tooltip-placement="right" tooltip-trigger="mouseenter" tooltip-popup-delay = '300')
              i.fa(ng-class="option.iconClass")
              span.down {{ (option.translateKey | translate) }}
          .accordion-toggle.menu-sub
            .accordion-inner(ng-show="subMenu[option.key] && !noneStyle")
              ul
                li(ng-repeat='subOption in option.subOptions' ng-show='userRole.can("READ",subOption.authContext);')
                  a(ui-sref-active="active" ui-sref='{{subOption.state}}' ng-click='resetSubmenu();')
                    | {{ subOption.translate | translate }}

          .accordion-toggle(ng-show="subMenuFlag[option.key] && noneStyle")
            .accordion-inner
              ul
                li(ng-repeat='subOption in option.subOptions' ng-show='userRole.can("READ",subOption.authContext);')
                  a.submenu-left(ui-sref-active="active" ui-sref='{{subOption.state}}')
                    | {{ subOption.translate | translate }}
