.sidebar-wrapper(ng-class="{'noneStyle' : noneStyle}" ng-mouseleave="resetSubmenu();")
  ul.sidebar-nav
    li
      a(href="#" ng-click="toggleStyle(); resetSubmenu()")
        i.fa.fa-bars
        span
          | &nbsp;

    li(ng-repeat='option in mainMenu')
      .accordion(id="rightMenu1")
        .accordion-group
          .accordion-heading(ng-click="toggleSubmenu[option.key]();")
            a.accordion-toggle(data-toggle="collapse" data-parent="#rightMenu1" href="#")
              i.fa(ng-class="option.iconClass")
              span.down {{ (option.translateKey | translate) }}
          .accordion-toggle.menu-sub
            .accordion-inner(ng-show="subMenu[option.key] && !noneStyle")
              ul
                li(ng-repeat='subOption in option.subOptions')
                  a(ui-sref-active="active" ui-sref='{{subOption.state}}' ng-click='resetSubmenu();')
                    | {{ subOption.translate | translate }}

          .accordion-toggle(ng-show="subMenuFlag[option.key] && noneStyle")
            .accordion-inner
              ul
                li(ng-repeat='subOption in option.subOptions')
                  a.submenu-left(ui-sref-active="active" ui-sref='{{subOption.state}}')
                    | {{ subOption.translate | translate }}
