// Navigation bar, it can be applied in two ways: dropdown (aside) or sidebar

//.dropdown.sidebar-box(ui-sref-active="active" ui-sref='dashboard' ng-click='ok()')
//	i.glyphicon.glyphicon-dashboard(tooltip='{{"dashboard.title"|translate}}'
//	tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-popup-delay = '300')
//	span.dropdown-text {{ 'dashboard.title' | translate }}

.dropdown.sidebar-box(ui-sref-active="active" ui-sref='users' ng-click='ok()')
	img(src='/img/people_organization.png' tooltip='{{"user.title"|translate}}'
	tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-popup-delay = '300')
	span.dropdown-text {{ 'user.title' | translate }}

//.dropdown.sidebar-box(ui-sref-active="active" ui-sref='roles' ng-click='ok()')
//	i.glyphicon.glyphicon-user(tooltip='{{"role.title"|translate}}'
//	tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-popup-delay = '300')
//	span.dropdown-text {{ 'role.title' | translate }}

.dropdown.sidebar-box(ui-sref-active="active" ui-sref='permissions' ng-click='ok()')
	img(src='/img/autorization.png' tooltip='{{"permission.title"|translate}}'
	tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-popup-delay = '300')
	span.dropdown-text {{ 'permission.title' | translate }}

.dropdown.sidebar-box.hide-on-sidebar(ui-sref-active="active" ui-sref='permissions' ng-click='logout()')
	span.entypo.entypo-logout
	span.dropdown-text {{ 'label.logout' | translate }}
