.logbook {

	.add-form {
		display: -webkit-flex;
		display: flex;
	}

	.add-form .element {
		width:15%;
		margin-left: 5px;
	}

	.add-form .save{
		width:10%;
	}

	.add-form input[type="text"], md-autocomplete {
		width: 100%;
		min-width: 100%;
	}
}

.driver-time-sheet {
	width: 100%;
	height: 315px;

	.glyphicon {
		.rem(font-size, 20);
	}

	.glyphicon-floppy-disk {
		color: @green4;
	}

	.glyphicon-remove {
		color: @red;
	}

	.row-actions {
		text-align: center;
		padding-top: 5px;
	}
}