.time-sheet {
	font-size: 14px;

	// Needed to ensure ag-grid 100% height
	height: ~"calc( 100% - @{toolbar-height} )";

	.container-fluid-flex{
		height:100%;

		.container-body{
			padding: 20px 20px 10px 20px;
			height: ~"calc( 100% - @{breadcrumb-height} - @{add-row-height} )";
		}
	}

	.filter-label {
		color: @grey6;
		font-size: 14px;
		padding: 20px 10px 0 50px;
	}

	.add-form-container {
		width:100%;
	}

	.add-form {
		font-size: 14px;
		display: -webkit-flex;
		display: flex;
		flex-wrap: nowrap;
	}

	.add-form .element {
		width:22%;
		margin-left: 5px;
	}

	.add-form .element-small {
		width:12%;
		margin-left: 5px;
	}

	.add-form .element-very-small {
		width:7%;
		margin-left: 4px;
	}

	.add-form .btn-element-small {
		width:8%;
		margin-left: 5px;
	}

	.add-form input[type="text"], md-autocomplete {
		width: 100%;
		min-width: 100%;
	}

	.add-form md-input-container.jnx-datetime-picker label {
		margin-left: 30px;
	}

	.add-form md-input-container.jnx-datetime-picker input[type="text"] {
		min-width: calc(100% - 30px);
	}

	.add-form .dtp-btn-calendar md-icon {
		color: @grey4;
		fill: @grey4;
		&:hover{
			background: #ffffff;
		}
	}

	.add-form label, md-select span {
		font-weight: normal;
		margin-bottom: 0;
		color: @grey6;
	}

	.btn-row {
		width: 30%;
	}
}

.autocomplete-options-container-wider {
	width: 200px;
}

.ops-sheet-page {
	.container-fluid-flex .container-body{
		height: ~"calc( 100% - @{breadcrumb-height} )";
		padding: 20px;
	}
}

// Hide button to clear the datetime picker fields
// Even any datetime picker within ag-grid
.jnx-datetime-picker .dtp-clear, .ag-cell .dtp-clear {
	visibility: hidden;
}

.ops-sheet,
.driver-time-sheet {
	width: 100%;
	//height: 380px;
	height: ~"calc( 100% - 10px )";

	.glyphicon {
		.rem(font-size, 20);
	}

	.glyphicon-floppy-disk {
		color: @green4;
	}

	.glyphicon-remove {
		color: @red;
	}

	.row-actions {
		text-align: center;
		padding-top: 5px;
		.glyphicon {
			padding: 0 3px;
		}
	}

	md-autocomplete, input {
		background: transparent;
	}

	md-autocomplete input:not(.md-input) {
		padding: 0 1px;
	}
}

.service-time-sheet {
	.driver-time-sheet;
	width: ~"calc( 100% - 10px )";
}

/* if you want to highlight the editing row, you can make use of the ag-row-editing
class, it gets put onto the row that is currently in edit mode. */
.ag-row-editing {
	background-color: @ag-grid-row-editing-background !important;
	color: @ag-grid-row-editing-color  !important;
}

.ag-del-rows-header-comp {
	a {
		cursor: pointer;
	}
	span.fa-trash {
		margin: 0 10px 50px 10px;
		color: @grey6;
	}
}

.add-row-section{
	width: 100%;
	margin:10px 20px 10px 20px;
	max-height: 80px;
	padding: 5px;
	background-color: @glarus-green1;
}
.md-button.md-icon-button.stack{
	background: @glarus-blue;
	border-radius: 10%;
	margin-top: 15px;
	margin-left: 10px;
	md-icon{
		color: @white !important;
		font-size: 16px;
	}
	&:hover{
		background: @hover-glarus;
	}
}

.vertical-line {
   width: 1px;
   height: 30px;
   background-color: @grey2;
   margin: 25px 10px;
}


.md-dialog-content {

	md-autocomplete {
		border-bottom: @glarus-blue 1px solid;
	}
	// md-autocomplete{
	// 	margin-bottom: 3px;
	// }
	md-content{
		background-color: @white;
		padding-top: 5px;
	}
}

.md-dialog-content-invoice-detail-popup {

	md-content{
		background-color: @white;
		padding-top: 5px;
	}

}


.ops-sheet.ag-fresh .ag-row-selected {
	background-color: @glarus-blue-trans !important;

}

md-checkbox.md-checked .md-icon {
	background-color: @glarus-blue !important;
}

.ops-sheet.ag-fresh .ag-cell-not-inline-editing {
	position: absolute;
	padding-top: 10px;
}


.md-autocomplete-override {
	background: none;
	.md-whiteframe-z1{
		box-shadow: none;
	}
}

