.logbook {

	.add-form {
		display: -webkit-flex;
		display: flex;
	}

	.add-form .element {
		width:10%;
		margin: 10px;
	}

	.add-form input[type="text"] {
		width: 100%;
	}

	.driver-log-grid {
		height: 100%;
		width: 100%;
	}

	.add-form .md-datepicker-input-container {
		width: 50px;
	}
}