
//
// Users
//

.users-filter {
	text-align: right;
	padding: 10px 0;
}

.glarus-user-page {
	h2 {
		font-weight: bold !important;
	}

	.user-options {
		margin-bottom: 10px;
		width: 100%;
		md-content {
			width: 100%;
		}
	}

	.list-glarus {
		td,th { padding: 15px 15px; }

		td {
			background: @white;
		}

		td.role-enabled {
			text-align: center;
		}
		td.role-name {
			font-weight: bold;
		}
	}

}

.user-form {

	display: flex;
	padding: 20px;
	border:1px solid @grey5;
	display: -webkit-flex;
	//flex-direction: row;
	//flex-wrap: wrap;
	background: @glarus-back;

	md-input-container {
		margin:15px 0 0 0;
		width: 80%;

		label {
			left: 2px !important;
		}

		label:not(.md-container-ignore){
			bottom: 90%;
		}

		md-checkbox {
			margin-bottom: 0;
			margin-top: -20px;
			.md-label{
				padding-top: 40px;
				font-size: 11px;
				margin-left: 0px !important;
			}
		}

		.md-datepicker-input-container {
			margin: 0;
			width: 85%;
		}

		.md-datepicker-input.md-input {
			width: 100%;
			max-width: 100%;
			border-color: @glarus-blue !important;
		}

		.md-datepicker-expand-triangle {
			visibility: hidden;
		}

		.md-datepicker-button {
			float:right !important;
		}
	}

	md-content {
		background: transparent;
	}

	.user-field {
		width: 70%;
		.ng-pristine{
			border-color: @glarus-blue !important;
		}

	}
}

.users-list {
	.small-device({ .usr-resp-table });
	.xs-device({ .usr-resp-table });
}

.users-list-labels {
	td:nth-of-type(1):before { content: "Name";}
	td:nth-of-type(2):before { content: "Username"; }
	td:nth-of-type(3):before { content: "Email"; }
	td:nth-of-type(4):before { content: "Creation"; }
}

.usr-resp-table {
	.responsive-table;
	.users-list-labels;
}
.modal-body h4{
	color: @black;
}