table.table.table-bordered
	thead
		tr
			th Name
			th Description
			th Actions
	tbody
		tr(ng-repeat='authContext in authContexts')
			td {{ authContext.name }}
			td {{ authContext.description }}
			td.text-center
				span.glyphicon.glyphicon-edit
				span &nbsp;|&nbsp;
				span.glyphicon.glyphicon-remove-circle

h3 New Authorization Context

form
	.form-group
		label(for='authContextName') Name:
		input#authContextName.form-control(type='text')
	.form-group
		label(for='authContextRep') Represents:
		input#authContextRep.form-control(type='text')
	button.btn.btn-default(type='submit') Create Context