login-toolbar(toolbar-title='permission.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum
						| {{ 'permission.title' | translate }}
					h2.title-bar-txt
						.title(ng-show='creating') {{ 'permission.createContext' | translate }}
						.title(ng-show='copying') {{ 'permission.copyContext' | translate }} {{ copyFrom }}
						.title(ng-show='editing') {{ 'permission.editContext' | translate }}
				span(flex)

				md-button.save.md-icon-button.form-btn-toolbar(aria-label="Create" ng-click='saveAuthContext()')
					md-icon.fa.fa-check.fa-lg

				md-button.cancel.md-icon-button.form-btn-toolbar(aria-label="Cancel" ng-click='cancel()')
					md-icon.fa.fa-times.fa-lg
		.container-body-role

			form(name='authContextForm')

				table.table.context-form
					tr
						td: label(for='authContextName') Name:
						td: input#authContextName.form-control(type='text' ng-model='contextName' name='name' required='')
					tr
						td: label(for='authContextRep') Description:
						td: input#authContextRep.form-control(type='text' ng-model='contextDesc' name='description' required='')
					tr
						td: label(for='authContextGroup') Display Group:
						td: select#authContextGroup.form-control(ng-model='contextGroupCode' ng-options='group.code as group.name for group in groupsList' required='')

			table.table.table-condensed.context-form
				tr
					th #
					th Permission Bit
					td
				tr(ng-repeat="permBit in permissionBits | orderBy:'+position' ")
					td {{ permBit.position + 1 }}
					td
						input.form-control(type='text' ng-model='permBit.label' required='')
					td
						span.glyphicon.glyphicon-remove-circle(ng-click='removeBit(permBit.position)')
					//td: input.form-control(type='text' ng-model='permBit.description')

			.text-right
				a.link.primary(ng-click='addPermissionBit()')
					span.fa.fa-plus.fa-lg 
					| &nbsp; Add Permission Bit

			//.form-group
			//	label Permission Bits (select at least one):
			//	table.table.table-bordered
			//		tr
			//			td.text-center(ng-repeat='bit in permissionBits')
			//				label {{ bit }}
			//					input(type='checkbox' ng-model='selPermBits[bit]' ng-true-value='true' ng-false-value='false')

			//button.btn.btn-success(type='submit') Create Authorization Context
footer-Janux