table.table.table-bordered
	thead
		tr
			th Name
			th Represents
			th Actions
	tbody
		tr
			td
			td
			td

h3 New Authorization Context

form
	.form-group
		label(for='authContextName') Name:
		input#authContextName.form-control(type='text')
	.form-group
		label(for='authContextRep') Represents:
		input#authContextRep.form-control(type='text')
	button.btn.btn-default(type='submit') Create Context