login-toolbar(title='permission.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid
		.row
			.col-lg-12
				.title-bar
					.title {{ 'permission.authContextGroup' | translate }}
					.options-glarus
						a(style="margin-right:5px" ng-click='cancel()')
							span.fa.fa-times.fa-lg 
							| &nbsp; Cancel
						a(ng-click='saveAuthContextGroup()')
							span.fa.fa-hdd-o.fa-lg 
							| &nbsp; Save
				hr

				form(name='authContextGroupForm')

					table.table.context-form
						tr
							td: label(for='authContextGroupName') Name:
							td: input#authContextGroupName.form-control(type='text' ng-model='contextGroupName' name='name' required='')
						tr
							td: label(for='authContextGroupCode') Code:
							td: input#authContextGroupCode.form-control(type='text' ng-model='contextGroupCode' name='code' required='')
						tr
							td: label(for='authContextGroupDesc') Description:
							td: input#authContextGroupDesc.form-control(type='text' ng-model='contextGroupDesc' name='description' required='')
footer-Janux
