login-toolbar(title='permission.title')
include toolbar

.container
	side-bar

	.maincolumn
		.title-bar
			.title {{ 'permission.createContext' | translate }}
			.options
				a(ng-click='cancel()')
					img(src='/img/cancel.png')
					| &nbsp; Cancel
				a(ng-click='save()')
					img(src='/img/save.png')
					| &nbsp; Save
		hr

		form(name='authContextForm' ng-submit='createAuthContext()')

			table.table.context-form
				tr
					td: label(for='authContextName') Name:
					td: input#authContextName.form-control(type='text' ng-model='contextName' name='name' required='')
				tr
					td: label(for='authContextRep') Description:
					td: input#authContextRep.form-control(type='text' ng-model='contextDesc' name='description' required='')
				tr
					td: label(for='authContextGroup') Display Group:
					td: select#authContextGroup.form-control(ng-model='contextGroup')

		table.table.table-condensed.context-form
			tr
				th Bit
				th Permission
				th Description
			tr(ng-repeat='permBit in permissionBits')
				td {{ $index+1 }}
				td: input.form-control(type='text' ng-model='permBit.bitName')
				td: input.form-control(type='text' ng-model='permBit.description')

		.text-right
			a.link.primary(ng-click='addPermissionBit()')
				img(src='/img/add.png')
				| Add Permission Bit

			//.form-group
			//	label Permission Bits (select at least one):
			//	table.table.table-bordered
			//		tr
			//			td.text-center(ng-repeat='bit in permissionBits')
			//				label {{ bit }}
			//					input(type='checkbox' ng-model='selPermBits[bit]' ng-true-value='true' ng-false-value='false')

			//button.btn.btn-success(type='submit') Create Authorization Context