login-toolbar(title='permission.title')
include toolbar

.container
	side-bar
	
	.maincolumn
		h1 Create Permission Bit

		form
			.form-group
				label(for='permBitName') Permission name:
				input#permBitName.form-control(type='text')

			button.btn.btn-success(type='submit') Create Permission