login-toolbar(toolbar-title='permission.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
				.md-toolbar-tools.form-toolbar-glarus
					md-truncate
						span.title-breadcrum
							| {{ 'permission.title' | translate }}
						h2
							| {{ 'permission.authContexts' | translate }}
		.container-body-role

			include auth-contexts

footer-Janux