login-toolbar(title='permission.title')
//include toolbar

.sd-page-container
	side-bar
	.sd-page-content-wrapper
		.sd-page-content(ng-class="{'toggleMenu-sd-content': isCollapsed}")

			.title-bar
				.title {{ 'permission.authContexts' | translate }}
			hr

			include auth-contexts