side-bar

.container
	logo-bar

	.maincolumn
		h1(translate='permission.title')

		.row
			.col-sm-4
				h2 Permission Bits

				include perm-bits

			.col-sm-8
				h2 Authorization Contexts

				include auth-context