table.table.table-bordered
	thead
		tr
			th Name
			th.text-center Actions
	tbody
		tr(ng-repeat='permBit in permissionBits')
			td {{ permBit }}
			td.text-center
				span.glyphicon.glyphicon-edit
				span &nbsp;|&nbsp;
				span.glyphicon.glyphicon-remove-circle


h3 New Permission Bit

form
	.form-group
		label(for='permBitName') Permission name:
		input#permBitName.form-control(type='text')

	button.btn.btn-default(type='submit') Create Permission