login-toolbar(toolbar-title='peopleOrgs.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum(ui-sref='staff' style='cursor:pointer;')
						| {{ 'peopleOrgs.title' | translate }}
					h2.title-bar-txt
						| {{ 'staff.createStaff' | translate }}
				span(flex)

				//- md-button.grid.md-icon-button.form-btn-toolbar(aria-label="Grid")
				//- 	md-icon.fa.fa-table.fa-lg

				//- md-button.arrow.md-icon-button(aria-label="Upload")
				//- 	md-icon.fa.fa-upload.fa-lg

		.container-fluid-flex.spacing-bottom

			md-content.staff-name
				h4(style="font-weight:bold") {{ staff.name.first }} {{ staff.name.middle }} {{ staff.name.last }}
			
			md-content.tabs-glarus
				md-toolbar.form-mid-toolbar.options-tabs
					.md-toolbar-tools
						md-nav-bar( md-selected-nav-item="currentNavItem" nav-bar-aria-label="links")
							md-nav-item.active(md-nav-click="goto('general')" name="general")
								| {{ 'staff.tabMenu.tabMenuFirst' | translate }}

						span(flex)

						.btn-row.hide-mobile
							button.btn(ng-click='save()')
								i.fa.fa-check
							button.btn( ng-click='cancel()')
								i.fa.fa-times

				.btn-row-fixed.hide-desktop
					.btn-row
						button.btn(ng-click='save()')
							i.fa.fa-check
						button.btn( ng-click='cancel()')
							i.fa.fa-times

				.user-form(ng-show='currentNavItem=="general"')
					include staff-form

footer-Janux