login-toolbar(title='user.title')

.sd-page-container
	side-bar
	.sd-page-content-wrapper
		.sd-page-content(ng-class="{'toggleMenu-sd-content': isCollapsed}")
			md-toolbar.md-theme-indigo
				.md-toolbar-tools
					h2(flex md-truncate)
					| Toolbar with Disabled/Enabled Icon Buttons