login-toolbar(title='user.title')

.sd-page-container
	side-bar
	.sd-page-content-wrapper
		.sd-page-content(ng-class="{'toggleMenu-sd-content': isCollapsed}")
			md-toolbar.md-hue-2(style="background:#ff0000")
				div.md-toolbar-tools
					md-button(aria-label="Back" style="background:pink")
						| Back
					md-truncate
						| Toolbar with Disabled/Enabled Icon Buttons