md-content
	.form-mid-toolbar-glarus.form-group
		.text-only
			span
				b {{ 'services.specialForm.adding'+type | translate | uppercase }}

		.btn-row
			button.btn(ng-click='save()')
				i.fa.fa-check
			button.btn(ng-click='cancel()')
				i.fa.fa-times

	.container-flex-form
		.staff-form-left
			person-name(data="principal", section="party.person.name")
			phones(data="principal", section="staff.phonesTitle")
			emails(data="principal", section="staff.mailsTitle")

		.staff-form-right
			person-job(data="principal", section="staff.jobTitle")
			addresses(data="principal", section="staff.addressesTitle")