.section-form
	p.form-section
		| {{ section | translate}}
	fieldset.fieldset-flex(data-ng-repeat="email in data.contactMethods.emails track by $index")
		.fieldset-flex
			.an-material.nopadding.half
				md-input-container.full
					//label {{ 'party.type' | translate}}
					//input(ng-model="email.type")
					label {{ 'party.type' | translate}}
					md-select(aria-label='type' ng-model='email.type')
						md-option(ng-value='aType', ng-repeat='aType in mailTypes') {{ 'party.contactType.'+aType | translate }}

			.an-material.nopadding
				md-input-container.full
					label {{ 'party.email' | translate}}
					input(ng-model="email.address")

			div
				md-checkbox(aria-label="Principal" ng-model='email.principal')
					| {{ 'party.first' | translate}}

			div
				button.btn-trash(ng-click="removeMail($index)")
					i.fa.fa-trash

	.btn-row-form
		md-divider.divider-line-glarus
		button.btn-plus(ng-click="addNewMail()")
			i.fa.fa-plus-square