//Header data.
div
	strong {{'services.invoice.invoiceNumber' | translate}}:{{invoice.invoiceNumber}}
div
	strong {{'services.invoice.status' | translate}}:{{'services.invoice.statuses.' + invoice.status  | translate}}

md-divider.divider-line-glarus
// Detail person
div
	strong {{'services.invoice.invoiceDetail.staff' | translate}}
div(style='height:27%')
	invoice-detail-person(invoice='invoice')

div(style="text-align: right")
	strong {{'services.invoice.invoiceDetail.subTotalPerson' | translate}}:{{ (subTotalPerson | currency) }}
md-divider.divider-line-glarus

// Detail vehicle.
div
	strong {{'services.invoice.invoiceDetail.vehicles' | translate}}
div(style='height:27%')
	invoice-detail-vehicle(invoice='invoice')
div(style="text-align: right")
	strong {{'services.invoice.invoiceDetail.subTotalVehicle' | translate}}:{{ (subTotalVehicle | currency) }}
md-divider.divider-line-glarus

// Detail expenses
div
	strong {{'services.invoice.invoiceDetail.expenses' | translate}}
div(style='height:27%')
	invoice-detail-expense(invoice='invoice')
div(style="text-align: right")
	strong {{'services.invoice.invoiceDetail.subTotalExpenses' | translate}}:{{ (subTotalExpense | currency) }}
md-divider.divider-line-glarus

// Discounts and totals

div(style="text-align: right;height:20%" )
	strong {{'services.invoice.invoiceDetail.totalBeforeDiscount' | translate}} {{(invoice.totalAfterExpenses | currency)}}
	br
	strong {{'services.invoice.invoiceDetail.discount' | translate}} {{(invoice.discount | currency)}}
	br
	strong {{'services.invoice.invoiceDetail.grandTotal' | translate}} {{(invoice.grandTotal | currency)}}