
div(style="text-align: right")
	.btn-element-small
		md-button.md-icon-button.stack(ng-click='insertNewExpense()' ng-show='editModeInvoiceDetail')
			md-icon.fa.fa-plus-square.fa-lg
.service-time-sheet.ag-fresh(ag-grid="gridOptions" ag-grid-reload="agGridSizeToFit")

