//Header data.
.section-form(style="padding-bottom:40px")
	fieldset.fieldset-flex
		.fieldset-flex
			.an-material.nopadding
				div
					label {{ 'services.invoice.invoiceNumber' | translate}} :
					input(ng-model='invoice.invoiceNumber' ng-disabled='true' style='border:1px solid #ff0000;')
			.an-material.nopadding
				div.custom-select
					label {{'services.invoice.status' | translate}} :
					select(ng-model='invoice.status' ng-disabled='!editModeInvoiceDetail' style='border:1px solid #ff0000;')
						option(value='inRevision') {{ 'services.invoice.statuses.inRevision' | translate}}
						option(value= 'ended') {{ 'services.invoice.statuses.ended' | translate}}
			.an-material.nopadding
				div
					md-checkbox(ng-model='invoice.isPaid' ng-disabled='!editModeInvoiceDetail || invoice.status!=="ended"')
						| {{'services.invoice.isPaid' | translate}}
	md-divider.divider-line-glarus
	// Detail person
	div
		strong {{'services.invoice.invoiceDetail.staff' | translate}}
	div(style='height: {{ personsGridHeight }}px;')
		invoice-detail-person(invoice='invoice')

	div(style="text-align: right")
		strong {{'services.invoice.invoiceDetail.subTotalPerson' | translate}}:{{ (invoice.totalPerson | currency) }}
		br
		label {{ 'services.invoice.invoiceDetail.discountPercentage' | translate}}
		input(type="number" ng-model='invoice.discountPersonPercentage' ng-disabled='!editModeInvoiceDetail' ng-hide='!editModeInvoiceDetail' min="0" max="100")
		strong(ng-show='!editModeInvoiceDetail') {{invoice.discountPersonPercentage }}
		strong %
		br
		strong {{'services.invoice.invoiceDetail.totalPersonAfterDiscount' | translate}}:{{(invoice.totalPersonAfterDiscount | currency)}}
	md-divider.divider-line-glarus

	// Detail vehicle.
	div
		strong {{'services.invoice.invoiceDetail.vehicles' | translate}}
	div(style='height: {{ vehiclesGridHeight }}px;')
		invoice-detail-vehicle(invoice='invoice')
	div(style="text-align: right")
		strong {{'services.invoice.invoiceDetail.subTotalVehicle' | translate}}:{{ (invoice.totalVehicle | currency) }}
		br
		strong {{'services.invoice.invoiceDetail.totalBeforeExpenses' | translate}}:{{(invoice.totalBeforeExpenses | currency)}}
	md-divider.divider-line-glarus

	// Detail expenses
	div
		strong {{'services.invoice.invoiceDetail.expenses' | translate}}
	div(style='height: {{ expensesGridHeight }}px;')
		invoice-detail-expense(invoice='invoice')
	div(style="text-align: right; margin-top:20px")
		strong {{'services.invoice.invoiceDetail.subTotalExpenses' | translate}}:{{ (invoice.totalExpenses | currency) }}
	md-divider.divider-line-glarus

	// Discounts and totals

	div(style="text-align: right;height:20%" )
		strong {{'services.invoice.invoiceDetail.grandTotal' | translate}}:{{(invoice.grandTotal | currency)}}
