md-dialog
	md-dialog-content
		.md-dialog-content
			md-content
				md-input-container
					label {{ 'services.invoice.invoiceNumber' | translate }}
					input(ng-model='form.invoiceNumber' type="text", required='')

				md-input-container
					md-datepicker(
					lang='{{ lang }}',
					ng-model="form.invoiceDate",
					format='YYYY-MM-DD',
					md-placeholder="{{ 'services.invoice.invoiceDate' | translate }}")

				md-input-container
					label {{ 'services.invoice.grandTotal' | translate }}
					input(type="number" ng-model='form.grandTotal')

	md-dialog-actions
		button.btn.btn-ok(ng-click='createNewInvoiceManual()') {{ 'label.ok' | translate }}
		button.btn.btn-cancel(ng-click='cancel()') {{ 'label.cancel' | translate }}
