.section-form
	p.form-section
		| {{ section | translate}}
	fieldset.fieldset-flex
		.fieldset-flex
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.job' | translate}}
					input(ng-model='data.staff.jobTitle')

	fieldset.fieldset-flex
		.fieldset-flex
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.area' | translate}}
					input(ng-model='data.staff.jobDepartment')