.section-form
	p.form-section-glarus
		| {{ section | translate}}
	fieldset.fieldset-flex
		.fieldset-flex
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.name' | translate}}
					input(ng-model='data.name.first')

			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.middleName' | translate}}
					input(ng-model='data.name.middle')

	fieldset.fieldset-flex
		.fieldset-flex
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.lastName' | translate}}
					input(ng-model='data.name.last')

			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.maternalName' | translate}}
					input(ng-model='data.name.maternal')