.section-form
	p.form-section
		| {{ section | translate}}
	div.an-material
		md-input-container.full
			label {{ 'party.person.job' | translate}}
			input(ng-model='data.job.title')

		md-input-container.full
			label {{ 'party.person.area' | translate}}
			input(ng-model='data.job.area')