.section-form
	p.form-section-glarus
		| {{ section | translate}}
	fieldset.fieldset-flex
		.fieldset-flex
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.job' | translate}}
					input(ng-model='data.staff.jobTitle')

			div( ng-show='externalflag' )
				md-checkbox.inline.md-primary(aria-label='is external' ng-model='data.staff.isExternal') {{ 'party.person.isExternal' | translate}}

		.fieldset-flex
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.person.area' | translate}}
					input(ng-model='data.staff.jobDepartment')