.section-form
	p.form-section-glarus
		| {{ section | translate}}
	fieldset.fieldset-flex(data-ng-repeat="phone in data.contactMethods.phones track by $index")
		.fieldset-flex
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.type' | translate}}
					input(ng-model="phone.type")
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.code' | translate}}
					input(ng-model="phone.countryCode")
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.area' | translate}}
					input(ng-model='phone.areaCode')
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.number' | translate}}
					input(ng-model='phone.number')
			.an-material.nopadding
				md-input-container.full
					label {{ 'party.ext' | translate}}
					input(ng-model='phone.ext')
			div
				md-checkbox.md-primary(aria-label="SMS" ng-model='phone.sms')
					| {{ 'party.sms' | translate}}
			div
				md-checkbox.md-primary(aria-label="WSP" ng-model='phone.wsp')
					| {{ 'party.wsp' | translate}}
			div
				button.btn-trash(ng-click="removePhone($index)")
					i.fa.fa-trash


	.btn-row-form
		md-divider.divider-line-glarus
		button.btn-plus(ng-click="addNewPhone()")
			i.fa.fa-plus-square