md-dialog
	md-dialog-content
		.md-dialog-content
			md-content
				md-input-container
					label {{ 'operations.specialsTimeLog.odometerStart' | translate }}
					input(ng-model='lbRow.odometerStart' type="number" )
				span(flex)
				md-input-container
					label {{ 'operations.specialsTimeLog.odometerEnd' | translate }}
					input(ng-model='lbRow.odometerEnd' type="number" )

			md-content
				md-input-container
					label {{ 'operations.specialsTimeLog.fuelStart' | translate }}
					md-select(ng-model='lbRow.fuelStart')
						md-option(value="F") F
						md-option(value="7/8") 7/8
						md-option(value="3/4") 3/4
						md-option(value="5/8") 5/8
						md-option(value="4/8") 1/2
						md-option(value="3/8") 3/8
						md-option(value="2/8") 1/4
						md-option(value="1/8") 1/8
				span(flex)
				md-input-container
					label {{ 'operations.specialsTimeLog.fuelEnd' | translate }}
					md-select(ng-model='lbRow.fuelEnd')
						md-option(value="F") F
						md-option(value="7/8") 7/8
						md-option(value="3/4") 3/4
						md-option(value="5/8") 5/8
						md-option(value="4/8") 1/2
						md-option(value="3/8") 3/8
						md-option(value="2/8") 1/4
						md-option(value="1/8") 1/8

	md-dialog-actions
		// TODO : Replace it with a angular material button.
		button.btn.btn-ok(ng-click='closeVehiclePopup()') {{ 'label.ok' | translate }}