| Hola #{ name },
br
| #{ email } te hemos agregado al App de Grupo Glarus
br
| Código de Autorización:
br
| #{ invitationCode }
br
| ingresa a:
br
| ops.glarus.com.mx/#{ invitationCode }
br
| Saludos...
br
| Grupo Glarus
| Consultoria en Riesgos
| Seguridad e Inteligencia
