|
| Hola #{ name },
|
| #{ email } te hemos agregado al App de Grupo Glarus
|
| Código de Autorización: #{ invitationCode }
|
| Ingresa a: http://ops-staging.glarus.com.mx/register/#{ invitationCode } para completar tu registro
|
| Saludos
|
| Grupo Glarus
| Consultoria en Riesgos
| Seguridad e Inteligencia
