login-toolbar(title='permission.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid
		.row
			md-toolbar.form-root-toolbar
				.md-toolbar-tools
					md-truncate
						| {{ 'permission.createRole' | translate }}
					span(flex)

					md-button.md-icon-button.save(aria-label="Save" ng-click='createRole()')
								md-icon.fa.fa-check.fa-lg

					md-button.md-icon-button.cancel(aria-label="Cancel" ng-click='cancel()')
						md-icon.fa.fa-times.fa-lg

			.col-lg-12(style="padding-top:20px;")

				include role-form

			//- .bottom-bar
			//- 	button.btn.btn-ok(ng-click='createRole()') Create
			//- 	button.btn.btn-cancel(ng-click='cancel()') Cancel

footer-Janux