login-toolbar(title='permission.title')
include ../permission/toolbar

.container
	side-bar

	.maincolumn
		.title-bar
			.title {{ 'permission.updatingRole' | translate }}
			//.options
			//	a(ng-click='cancel()')
			//		img(src='/img/cancel.png')
			//		| &nbsp; Cancel
			//	a(ng-click='saveRole()')
			//		img(src='/img/save.png')
			//		| &nbsp; Save
		hr

		include role-form

	.bottom-bar
		button.btn.btn-ok(ng-click='saveRole()') Save
		button.btn.btn-cancel(ng-click='cancel()') Cancel