login-toolbar(toolbar-title='permission.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					| {{ 'permission.createRole' | translate }}
				span(flex)

				md-button.save.md-icon-button.form-btn-toolbar(aria-label="Create" ng-click='saveRole()')
					md-icon.fa.fa-check.fa-lg

				md-button.cancel.md-icon-button.form-btn-toolbar(aria-label="Cancel" ng-click='cancel()')
					md-icon.fa.fa-times.fa-lg
		.container-body-role
			include role-form

			//- .bottom-bar
			//- 	button.btn.btn-ok(ng-click='saveRole()') Save
			//- 	button.btn.btn-cancel(ng-click='cancel()') Cancel

footer-Janux