login-toolbar(title='permission.title')
//include ../permission/toolbar

.sd-page-container
	side-bar
	.sd-page-content-wrapper
		.sd-page-content(ng-class="{'toggleMenu-sd-content': isCollapsed}")

			.title-bar
				.title {{ 'role.title' | translate }}
			hr

			.maincolumn

				include roles

				.text-left
					a.link.primary(ui-sref='permissions.create-role')
						span.fa.fa-plus.fa-lg 
						| &nbsp;Add Role
footer-Janux