.role-list-header
	.name Name / Description
	.role-aggregated Role(s) Aggregated
	.allmighty Is Allmighty?
	.enabled Enabled?

.drag-n-drop
	ul(dnd-list='roles')
		li.role(ng-repeat='role in roles',
		dnd-draggable='role',
		dnd-moved='roles.splice($index, 1)',
		dnd-effect-allowed='move')
			.element
				table.roles-list
						tr
							td.name
								span.role-title {{ role.name }}
								br
								| {{ role.description }}
							td.allmighty
								span.fa.fa-check-square(ng-show='role.isAlmighty')
								| &nbsp;
							td.enabled
								span.fa.fa-check-square(ng-show='role.enabled')
								| &nbsp;
							td.options
								a.action-button(ui-sref='permissions.edit-role({roleName: role.name})')
									span.fa.fa-pencil.fa-lg 
								a.action-button(ng-click='openDeleteRoleDialog(role.name)')
									span.fa.fa-trash.fa-lg 