.role-page
	.role-data
		.role-option
			.text Name:
			.control
				input.form-control(type='text' ng-model='role.name' required='')

		.role-option
			.text
			.control
				| Enabled &nbsp;
				input(type='checkbox' ng-model='role.enabled')
				| &nbsp;Is Almighty
				input(type='checkbox' ng-model='role.isAlmighty')

		.role-option
			.text Description:
			.control
				textarea.form-control(required='' ng-model='role.description') {{ role.description }}


	.role-permissions(ng-repeat='authContextGroup in authContextGroups')
		.group-element {{ authContextGroup.name }}
		table.context-check-list
			tbody
				tr(ng-repeat='authContext in authContextGroup.values')
					td.name {{ authContext.name }}
					td.bits
						div.bit(ng-repeat="authBit in authCBitsToArray(authContext.bit) | orderBy: 'position' ")
							| {{ authBit.label }}
							input.bit-check(type='checkbox'
							ng-model='role.authContexts[authContext.name].bit[authBit.label]')