.container-flex-form(style="padding:25px;")
	md-tabs.glarus(md-dynamic-height)
		md-tab(label="{{ 'client.rates.specialOps' | translate }}")
			md-content
				include rates-tabs/special-ops

		md-tab(label="{{ 'client.rates.guards' | translate }}")
			md-content
				include rates-tabs/guards

		md-tab(label="{{ 'client.rates.research' | translate }}")
			md-content
				include rates-tabs/research

		md-tab(label="{{ 'client.rates.discount' | translate }}")
			md-content
				include rates-tabs/discounts
