.container-flex-form
	.staff-form-left
		.section-form
			p.form-section-glarus
				| {{ 'client.Organization' | translate}}
			div.an-material
				md-input-container.full
					label {{ 'client.name' | translate}}
					input(ng-model='client.name')

				md-input-container.full
					label {{ 'client.rfc' | translate}}
					input(ng-model='client.rfc')

				md-checkbox.md-primary(aria-label="Reseller" ng-model='client.reseller')
					| {{ 'client.reseller' | translate}}

		.section-form
			p.form-section-glarus
				| {{ 'client.phonesTitle' | translate}}
			fieldset.fieldset-flex(data-ng-repeat="phone in client.contactMethods.phones track by $index")
				.fieldset-flex
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.type' | translate}}
							input(ng-model="phone.type")
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.code' | translate}}
							input(ng-model="phone.countryCode")
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.area' | translate}}
							input(ng-model='phone.areaCode')
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.number' | translate}}
							input(ng-model='phone.number')
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.ext' | translate}}
							input(ng-model='phone.ext')
					div
						md-checkbox.md-primary(aria-label="SMS" ng-model='phone.sms')
							| {{ 'client.sms' | translate}}
					div
						md-checkbox.md-primary(aria-label="WSP" ng-model='phone.wsp')
							| {{ 'client.wsp' | translate}}
					div
						button.btn-trash(ng-click="removePhone($index)")
							i.fa.fa-trash


			.btn-row-form
				md-divider.divider-line-glarus
				button.btn-plus(ng-click="addNewPhone()")
					i.fa.fa-plus-square


		.section-form
			p.form-section-glarus
				| {{ 'client.mailsTitle' | translate}}
			fieldset.fieldset-flex(data-ng-repeat="email in client.contactMethods.emails track by $index")
				.fieldset-flex
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.type' | translate}}
							input(ng-model="email.type")
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.email' | translate}}
							input(ng-model="email.address")

					div
						md-checkbox(aria-label="Principal" ng-model='email.principal')
							| {{ 'client.first' | translate}}

					div
						button.btn-trash(ng-click="removeMail($index)")
							i.fa.fa-trash

			.btn-row-form
				md-divider.divider-line-glarus
				button.btn-plus(ng-click="addNewMail()")
					i.fa.fa-plus-square


	.staff-form-right
		.section-form
			p.form-section-glarus
				| {{ 'client.addressesTitle' | translate}}
			md-divider.divider-line-glarus(ng-show="lastAddress==0") 

			fieldset(data-ng-repeat="address in client.contactMethods.addresses track by $index")
				.fieldset-flex
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.type' | translate}}
							input(ng-model="address.type" id="address1")
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.country' | translate}}
							input(ng-model="address.country")
					div
						md-checkbox.md-primary(aria-label="Fiscal" ng-model="address.fiscal")
								| {{ 'client.fiscal' | translate}}
					div
						button.btn-trash(ng-click="removeAddress($index)")
							i.fa.fa-trash

				.container-flex-form
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.street1' | translate}}
							input(ng-model='address.line1')
				.container-flex-form
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.street2' | translate}}
							input(ng-model='address.line2')

				.fieldset-flex
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.city' | translate}}
							input(ng-model="address.cityText")
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.state' | translate}}
							input(ng-model="address.stateText")
					.an-material.nopadding
						md-input-container.full
							label {{ 'client.zip' | translate}}
							input(ng-model='address.postalCode')

			.btn-row-form
				md-divider.divider-line-glarus
				button.btn-plus(ng-click="addNewAddress()")
					i.fa.fa-plus-square
