login-toolbar(toolbar-title='peopleOrgs.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum(ui-sref='client' style='cursor:pointer;')
						| {{ 'peopleOrgs.title' | translate }}
					h3.title-bar-txt-highlight
						span(ng-class='{"active":(currentNavItem=="client")}') {{ client.name }}
						span.fa.fa-caret-right(ng-show='currentNavItem=="contacts"')
						span(ng-class='{"active":(currentNavItem=="contacts" && (!editContact && !addContact ))}' ng-show='currentNavItem=="contacts"' ng-click='cancelEditContact()')  {{ 'client.tabMenu.tabMenuSecond' | translate }}
						span.fa.fa-caret-right(ng-show='editContact')
						span(ng-class='{"active":editContact}' ng-show='editContact') {{ contact.name.shortName }}
						span.fa.fa-caret-right(ng-show='addContact')
						span(ng-class='{"active":addContact}' ng-show='addContact') {{ 'party.dialogs.addingContact' | translate }}
				span(flex)

		.container-fluid-flex
			//md-content.breadcrumb-nav
			//	h4 {{ breadcrumbNav }}

			md-content.tabs-glarus
				md-toolbar.form-mid-toolbar.options-tabs
					.md-toolbar-tools
						md-nav-bar( md-selected-nav-item="currentNavItem" nav-bar-aria-label="links")
							md-nav-item.active(md-nav-click="changeTab('client')" name="client")
								| {{ 'client.tabMenu.tabMenuFirst' | translate | uppercase }}
							md-nav-item(md-nav-click="changeTab('contacts')" name="contacts")
								| {{ 'client.tabMenu.tabMenuSecond' | translate | uppercase }}
							md-nav-item(md-nav-click="changeTab('rates')" name="rates")
								| {{ 'client.tabMenu.tabMenuRates' | translate | uppercase }}

						span(flex)

						.btn-row.hide-mobile
							button.btn(ng-show='currentNavItem=="client"')
								i.fa.fa-trash
							button.btn(ng-click='save()' ng-show='currentNavItem!="contacts" && currentNavItem!="rates"')
								i.fa.fa-check
							button.btn(ng-click='saveContact()' ng-show='currentNavItem=="contacts" && (editContact || addContact)')
								i.fa.fa-check
							button.btn(ng-click='cancelEditContact()' ng-show='currentNavItem=="contacts" && (editContact || addContact)')
								i.fa.fa-times
							button.btn(ng-click='addClientContact()' ng-show='currentNavItem=="contacts" && (!addContact && !editContact)')
								i.fa.fa-user-plus
							button.btn(ng-click='updateRateMatrix()' ng-show='currentNavItem=="rates"')
								i.fa.fa-check
							button.btn(ng-click='cancel()' ng-show='!editContact && !addContact')
								i.fa.fa-times

				.btn-row-fixed.hide-desktop
					.btn-row
						button.btn(ng-show='currentNavItem=="client"')
							i.fa.fa-trash
						button.btn(ng-click='save()' ng-show='currentNavItem!="contacts" && currentNavItem!="rates"')
							i.fa.fa-check
						button.btn(ng-click='saveContact()' ng-show='currentNavItem=="contacts" && (editContact || addContact)')
							i.fa.fa-check
						button.btn(ng-click='cancelEditContact()' ng-show='currentNavItem=="contacts" && (editContact || addContact)')
							i.fa.fa-times
						button.btn(ng-click='addClientContact()' ng-show='currentNavItem=="contacts" && (!addContact && !editContact)')
							i.fa.fa-user-plus
						button.btn(ng-click='updateRateMatrix()' ng-show='currentNavItem=="rates"')
							i.fa.fa-check
						button.btn(ng-click='cancel()' ng-show='!editContact && !addContact')
							i.fa.fa-times

				div(ng-show='currentNavItem=="client"')
					include client-form

				div(ng-show='currentNavItem=="contacts" && (!editContact && !addContact )')
					include client-contacts

				div(ng-show='currentNavItem=="contacts" && (editContact || addContact )')
					include ../../common/components/templates/contact

				div(ng-show='currentNavItem=="rates"')
					include client-rates
footer-Janux