login-toolbar(toolbar-title='peopleOrgs.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum
						| {{ 'peopleOrgs.title' | translate }}
					h2.title-bar-txt
						| {{ client.name }}
				span(flex)

		.container-fluid-flex
			//md-content.breadcrumb-nav
			//	h4 {{ breadcrumbNav }}

			md-content.tabs-glarus
				md-toolbar.form-mid-toolbar.options-tabs
					.md-toolbar-tools
						md-nav-bar( md-selected-nav-item="currentNavItem" nav-bar-aria-label="links")
							md-nav-item.active(md-nav-click="goto('client')" name="client")
								| {{ 'client.tabMenu.tabMenuFirst' | translate | uppercase }}
							md-nav-item(md-nav-click="goto('contacts')" name="contacts")
								| {{ 'client.tabMenu.tabMenuSecond' | translate | uppercase }}

						span(flex)

						.btn-row
							button.btn(ng-show='currentNavItem=="client"')
								i.fa.fa-trash
							button.btn(ng-click='save()' ng-show='currentNavItem=="contacts" && !editContact')
								i.fa.fa-check
							button.btn(ng-click='saveContact()' ng-show='currentNavItem=="contacts" && editContact')
								i.fa.fa-check
							button.btn(ng-click='cancel()')
								i.fa.fa-times

				div(ng-show='currentNavItem=="client"')
					include client-form

				div(ng-show='currentNavItem=="contacts" && !editContact')
					include client-contacts

				div(ng-show='currentNavItem=="contacts" && editContact')
					include ../../common/components/templates/contact

footer-Janux