login-toolbar(toolbar-title='operations.title')

side-bar

.page-content-wrapper.time-sheet(ng-class="{'page-content-left' : noneStyle}")
	// Driver side panel
	driver-side-panel

	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px;")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum
						| {{ 'operations.title' | translate }}
					h2.title-bar-txt
						| {{ 'operations.driversTimeLog.title' | translate }}

				//- md-truncate.filter-label
				//- 	| {{ 'operations.driversTimeLog.filterLabel' | translate }}

				md-truncate.add-form.filter-label
					md-input-container
						label
							| {{ 'operations.driversTimeLog.filterLabel' | translate }}
						md-select(aria-label='option' ng-model='periodFilterKey' ng-change='periodChange()')
							md-option(ng-value='option.key', ng-repeat='option in periodFilterOptions') {{ option.label | translate }}
				span(flex)

				md-button.arrow.md-icon-button(aria-label="Upload" ng-click='export()')
					md-icon.fa.fa-download.fa-lg

				md-button.arrow.md-icon-button(aria-label="New" ng-click="insertNewTimeEntry()")
					md-icon.fa.fa-plus-square.fa-lg

		.container-body(style="margin-top:-20px; padding-bottom:50px;")
			.driver-time-sheet.ag-fresh(ag-grid="gridOptions" ag-grid-reload="agGridSizeToFit")
footer-Janux
