login-toolbar(toolbar-title='operations.title')

side-bar

.page-content-wrapper.time-sheet(ng-class="{'page-content-left' : noneStyle}")
	// Side panel
	guards-side-panel

	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px;")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum
						| {{ 'operations.title' | translate }}
					h2.title-bar-txt
						| {{ 'operations.guardsTimeLog.title' | translate }}

				//- md-truncate.filter-label
				//- 	| {{ 'operations.guardsTimeLog.filterLabel' | translate }}

				md-truncate.add-form.filter-label
					md-input-container
						label
							| {{ 'operations.guardsTimeLog.filterLabel' | translate }}
						md-select(aria-label='option' ng-model='periodFilterKey' ng-change='periodChange()')
							md-option(ng-value='option.key', ng-repeat='option in periodFilterOptions') {{ option.label | translate }}
				span(flex)

				md-button.arrow.md-icon-button(aria-label="Upload" ng-click='export()')
					md-icon.fa.fa-download.fa-lg

				md-button.arrow.md-icon-button(aria-label="New" ng-click="insertNewTimeEntry()")
					md-icon.fa.fa-plus-square.fa-lg

		//.add-row-section
		//	md-truncate.add-form-container
		//		form(name='driverTimeSheet').add-form
		//			.element
		//				md-autocomplete(md-no-cache='false',
		//				md-items="item in staffSearch(lbSearch.staff) | orderBy:'resource.name.last'",
		//				md-selected-item='lbRow.staff',
		//				md-search-text-change='staffSearchTextChange(lbSearch.staff)',
		//				md-search-text='lbSearch.staff',
		//				md-selected-item-change='staffSelectedItemChange(item)',
		//				md-item-text='item.resource.name.last+" "+item.resource.name.maternal+ " " +item.resource.name.first+" " + item.resource.name.middle',
		//				md-min-length='0',
		//				md-floating-label="{{ 'operations.guardsTimeLog.staff' | translate }}")
		//					md-item-template
		//						span(md-highlight-text='lbSearch.staff', md-highlight-flags='^i') {{item.resource.name.last+' '+item.resource.name.maternal + ' '+ item.resource.name.first+' ' + item.resource.name.middle}}
		//
		//			.vertical-line
		//
		//			.element
		//				md-autocomplete(md-no-cache='false',
		//				md-items='item in opsSearch(lbSearch.operation)',
		//				md-selected-item='lbRow.operation',
		//				md-search-text-change='opsSearchTextChange(lbSearch.operation)',
		//				md-search-text='lbSearch.operation',
		//				md-selected-item-change='opsSelectedItemChange(item)',
		//				md-item-text='item.name',
		//				md-min-length='0',
		//				md-floating-label="{{ 'operations.guardsTimeLog.operation' | translate }}")
		//					md-item-template
		//						span(md-highlight-text='lbSearch.operation', md-highlight-flags='^i') {{item.name}}
		//
		//			.vertical-line
		//
		//			.element
		//				md-input-container.jnx-datetime-picker
		//					label {{ 'operations.guardsTimeLog.begin' | translate }}
		//					input(mdc-datetime-picker=''
		//					date='true'
		//					time='true'
		//					show-todays-date=''
		//					minutes='true'
		//					format='YYYY-MM-DD HH:mm'
		//					edit-input='true'
		//					click-outside-to-close='true'
		//					show-icon='true'
		//					minute-steps='1'
		//					ng-model='lbRow.begin'
		//					ng-model-options="{ debounce: 1000 }"
		//					type='text' required='',
		//					lang='{{ lang }}',
		//					today-text='{{ "label.today" | translate }}',
		//					ok-text='{{ "label.ok" | translate }}',
		//					cancel-text='{{ "label.cancel" | translate }}')
		//
		//			.vertical-line
		//
		//			.element
		//				md-input-container.jnx-datetime-picker
		//					label {{ 'operations.guardsTimeLog.end' | translate }}
		//					input(mdc-datetime-picker=''
		//					date='true'
		//					time='true'
		//					show-todays-date=''
		//					minutes='true'
		//					min-date='lbRow.begin'
		//					format='YYYY-MM-DD HH:mm'
		//					edit-input='true'
		//					click-outside-to-close='true'
		//					show-icon='true'
		//					minute-steps='1'
		//					ng-model='lbRow.end'
		//					ng-model-options="{ debounce: 1000 }"
		//					type='text',
		//					lang='{{ lang }}',
		//					today-text='{{ "label.today" | translate }}',
		//					ok-text='{{ "label.ok" | translate }}',
		//					cancel-text='{{ "label.cancel" | translate }}')
		//
		//			.vertical-line
		//
		//			.element
		//				md-input-container
		//					label {{ 'operations.guardsTimeLog.comment' | translate }}
		//					input(ng-model='lbRow.location')
		//
		//			.vertical-line
		//
		//			.element
		//				md-input-container
		//					label {{ 'operations.guardsTimeLog.extras' | translate }}
		//					md-select(ng-model='lbRow.extras')
		//						md-option(value='')
		//						md-option(value='AF') {{ 'operations.guardsTimeLog.extraOptions.AF' | translate }}
		//						md-option(value='A') {{ 'operations.guardsTimeLog.extraOptions.A' | translate }}
		//						md-option(value='NM') {{ 'operations.guardsTimeLog.extraOptions.NM' | translate }}
		//						md-option(value='NRM') {{ 'operations.guardsTimeLog.extraOptions.NRM' | translate }}
		//						md-option(value='CLOSED') {{ 'operations.guardsTimeLog.extraOptions.CLOSED' | translate }}
		//						md-option(value='NOT COVERED') {{ 'operations.guardsTimeLog.extraOptions.NOT_COVERED' | translate }}
		//						md-option(value='GUARD_SHIFT_MANAGER') {{ 'operations.guardsTimeLog.extraOptions.GUARD_SHIFT_MANAGER' | translate }}
		//
		//			.element-small
		//				md-input-container
		//					md-checkbox(ng-model='lbRow.isExternal')
		//						| {{ 'operations.guardsTimeLog.isExternal' | translate }}
		//
		//			.vertical-line
		//
		//			.btn-element-small
		//				md-button.md-icon-button.stack(aria-label="Grid" ng-click='addRow()')
		//					md-icon.fa.fa-plus-square.fa-lg

		.container-body(style="margin-top:-20px; padding-bottom:50px;")
			.driver-time-sheet.ag-fresh(ag-grid="gridOptions" ag-grid-reload="agGridSizeToFit")
footer-Janux
