login-toolbar(title='user.title')
//include toolbar

.sd-page-container
	side-bar

	.sd-page-content-wrapper
		.sd-page-content(ng-class="{'toggleMenu-sd-content': isCollapsed}")

			.title-bar
				.title {{ 'user.createUser' | translate }}
				.options
					a(style="margin-right:5px" ng-click='cancel()')
						span.fa.fa-times.fa-lg 
						| &nbsp; Cancel
					a(ng-click='save()')
						span.fa.fa-hdd-o.fa-lg 
						| &nbsp; Save
			hr

			.user-form
				.label-form.label-disp
					label(for='username') Username
					
				.textbox-form.textbox-disp
					input.form-element(type='text' id='username' ng-model='user.username')
					
				.label-form.label-disp
					label(for='password') Password
							
				.textbox-form.textbox-disp
					input.form-element(type='password' id='password' ng-model='user.password')
					

				include user-form

footer-Janux