login-toolbar(title='user.title')
include toolbar

.container
	side-bar

	.maincolumn

		h1(translate='user.createUser')

		form
			.form-group.row
				label.col-xs-2(for='username') Username
				input.col-xs-2.form-element(type='text' id='username' ng-model='user.username')

			.form-group.row
				label.col-xs-2(for='password') Password
				input.col-xs-2.form-element(type='password' id='password' ng-model='user.password')

		include user-form