login-toolbar(title='user.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		.container-fluid-flex.spacing-bottom

			md-content.spacing-ls
				md-toolbar.form-mid-toolbar
					.md-toolbar-tools
						md-nav-bar( md-selected-nav-item="currentNavItem" nav-bar-aria-label="links")
							md-nav-item.active(md-nav-click="goto('user')" name="user")
								| USER
							md-nav-item(md-nav-click="goto('contact')" name="contact")
								| CONTACT
							md-nav-item(md-nav-click="goto('notifications')" name="notifications")
								| NOTIFICATIONS

						span(flex)

						md-button.md-icon-button.save(aria-label="Save" ng-click='save()')
							md-icon.fa.fa-check.fa-lg

						md-button.md-icon-button.cancel(aria-label="Cancel" ng-click='cancel()')
							md-icon.fa.fa-times.fa-lg

				.user-form(ng-show='currentNavItem=="user"')
					md-content.staff-form(layout-padding)
						.container-flex-form
							div
								user(data="user", section="user.user", password="true")
							div
								user-roles(data="roles", section="user.roles")

				.user-form(ng-show='currentNavItem=="contact"')
					include user-contact

				.user-form(ng-show='currentNavItem=="notifications"')
					include user-notifications

footer-Janux