login-toolbar(title='user.title')
include toolbar

.container
	side-bar

	.maincolumn

		.title-bar
			.title {{ 'user.createUser' | translate }}
			.options
				a(ng-click='cancel()')
					img(src='/img/cancel.png')
					| &nbsp; Cancel
				a(ng-click='save()')
					img(src='/img/save.png')
					| &nbsp; Save
		hr

		.user-form
			table
				tr
					td: label(for='username') Username
					td: input.form-element(type='text' id='username' ng-model='user.username')
				tr
					td: label(for='password') Password
					td: input.form-element(type='password' id='password' ng-model='user.password')

			include user-form