login-toolbar(title='user.title')
//include toolbar

.sd-page-container
	side-bar

	.sd-page-content-wrapper
		.sd-page-content(ng-class="{'toggleMenu-sd-content': isCollapsed}")

			.title-bar
				.title {{ 'user.editUser' | translate }}
				.options
					a(style="margin-right:5px" ng-click='cancel()')
						span.fa.fa-times.fa-lg 
						| &nbsp; Cancel
					a(ng-click='save()')
						span.fa.fa-hdd-o.fa-lg 
						| &nbsp; Save
			hr

			.user-form
				include user-form

footer-Janux