login-toolbar(title='user.title')
include toolbar

.container
	side-bar

	.maincolumn

		.title-bar
			.title {{ 'user.editUser' | translate }}
			.options
				a(ng-click='cancel()')
					img(src='/img/cancel.png')
					| &nbsp; Cancel
				a(ng-click='save()')
					img(src='/img/save.png')
					| &nbsp; Save
		hr

		.user-form
			include user-form