login-toolbar(toolbar-title='user.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum
						| {{ 'peopleOrgs.title' | translate }}
					h2
						| {{ 'user.editUser' | translate }}
				span(flex)

				md-button.save.md-icon-button.form-btn-toolbar(aria-label="Create" ng-click='save()')
					md-icon.fa.fa-check.fa-lg

				md-button.cancel.md-icon-button.form-btn-toolbar(aria-label="Cancel" ng-click='cancel()')
					md-icon.fa.fa-times.fa-lg
		

		.container-body-role
			.user-form
				include user-form

footer-Janux