login-toolbar(toolbar-title='user.title')

side-bar

.page-content-wrapper.glarus-user-page(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid-flex
		md-toolbar.form-root-toolbar(style="height:10px")
			.md-toolbar-tools.form-toolbar-glarus
				md-truncate
					span.title-breadcrum(ng-click='cancel()')
						| {{ 'peopleOrgs.title' | translate }}
					h2.title-bar-txt
						| {{ 'user.editUser' | translate }}
				span(flex)

		.container-fluid-flex.user-options
			md-content.tabs-glarus
				md-toolbar.form-mid-toolbar.options-tabs
					.md-toolbar-tools
						md-nav-bar( md-selected-nav-item="currentNavItem" nav-bar-aria-label="links")
							md-nav-item.active(md-nav-click="goto('user')" name="user")
								| {{ 'user.user' | translate | uppercase }}
							md-nav-item(md-nav-click="goto('contact')" name="contact")
								| {{ 'user.contact' | translate | uppercase }}
							md-nav-item(md-nav-click="goto('notifications')" name="notifications")
								| {{ 'user.notifications' | translate | uppercase }}

						span(flex)

						.btn-row.hide-mobile
							button.btn(ng-click='openDeleteAuthContextDialog()')
								i.fa.fa-trash
							button.btn(ng-click='save()')
								i.fa.fa-check
							button.btn(ng-click='cancel()')
								i.fa.fa-times

				.btn-row-fixed.hide-desktop
					.btn-row
						button.btn(ng-click='openDeleteAuthContextDialog()')
							i.fa.fa-trash
						button.btn(ng-click='save()')
							i.fa.fa-check
						button.btn(ng-click='cancel()')
							i.fa.fa-times

				.user-form(ng-show='currentNavItem=="user"')
					div
						user(data="user", section="user.user", password="false")
					div.hide-mobile
						user-roles(data="roles", section="user.roles")

				.user-form(ng-show='currentNavItem=="contact"')
					include user-contact

				.user-form(ng-show='currentNavItem=="notifications"')
					include user-notifications

footer-Janux