login-toolbar(title='user.title')
include toolbar

.container
	side-bar

	.maincolumn

		.title-bar
			.title {{ 'label.people' | translate }}
			.options
				a(ui-sref='users.create')
					img(src='/img/add.png')
					| &nbsp; Add
		hr

		table.list.users-list(ng-show='usersMatch.length')
			thead
				tr
					th {{ 'user.displayName' | translate }}
					th {{ 'user.username' | translate }}
					th {{ 'user.email' | translate }}
					th {{ 'user.creation' | translate }}
					th
			tbody
				tr(ng-repeat='user in usersMatch')
					td {{ user.contact.name.shortName }}
					td {{ user.username }}
					td {{ user.contact.emailAddress('work').address }}
					td {{ user.cdate }}
					td.text-center
						img(src='/img/edit.png' ng-click='editUser(user.userId)')
						| &nbsp;&nbsp;&nbsp;
						img(src='/img/delete.png' ng-click='openDeleteAuthContextDialog(user)')

		.users-filter
			form.form-inline
				.form-group
					label(for='username') Find by:
					select.form-control(ng-model='searchField' ng-options='field as field for field in searchFields')
					input.form-control(id='username' type='text' ng-model='searchString')
					button.btn.btn-default(type='submit' ng-click='findUsers()') {{ 'label.search' | translate }}

