.data(ng-init='address = user.contact.postalAddress()')
	h3 Data

	table
		tr
			td: label(for='line1') Line 1
			td: input.form-element(type='text' id='line1' ng-model='address.line1')
		tr
			td: label(for='line2') Line 2
			td: input.form-element(type='text' id='line2' ng-model='address.line2')
		tr
			td: label(for='state') State
			td: input.form-element(type='text' id='state' ng-model='address.stateText')
		tr
			td: label(for='city') City
			td: input.form-element(type='text' id='city' ng-model='address.cityText')
		tr
			td: label(for='pc') Postal Code
			td: input.form-element(type='text' id='pc' ng-model='address.postalCode')

.contact
	h3 Contact

	table
		tr
			td: label(for='hp') Honorific prefix
			td: input.form-element(type='text' id='hp' ng-model='user.contact.name.honorificPrefix')
		tr
			td: label(for='hs') Honorific suffix
			td: input.form-element(type='text' id='hs' ng-model='user.contact.name.honorificSuffix')
		tr
			td: label(for='name') First name
			td: input.form-element(type='text' id='name' ng-model='user.contact.name.first')
		tr
			td: label(for='last') Last name
			td: input.form-element(type='text' id='last' ng-model='user.contact.name.last')

		tr
			td: label(for='email') Email
			td: input.form-element(type='text' id='email' ng-model='user.contact.emailAddress().address')

		tr
			td: label(for='phone') Phone number
			td: input.form-element(type='text' id='phone' ng-model='user.contact.phoneNumber().number')