.container-flex-form
	.staff-form-left
		person-name(data="user.contact" section="user.contact")
		phones(data="user.contact", section="staff.phonesTitle")
		emails(data="user.contact", section="staff.mailsTitle")
	.staff-form-right
		person-job(data="user.contact", section="staff.jobTitle")
		addresses(data="user.contact" section="staff.addressesTitle")
