div
	p.form-section
		| {{ 'user.user' | translate }}
	div.an-material
		md-input-container.user-field
			label {{ 'user.username' | translate }}
			input(ng-model='user.username')

		md-input-container.user-field
			label {{ 'user.email' | translate }}
			input(ng-model='user.email')

		md-input-container
			md-checkbox.md-primary(aria-label="Enabled" ng-model='user.enabled')
				| {{ 'user.enabled' | translate }}

		md-input-container
			md-checkbox.md-primary(aria-label="Locked" ng-model='user.locked')
				| {{ 'user.locked' | translate }}


		md-input-container
			label {{ 'user.expirationDate' | translate }}
			md-datepicker(ng-model="user.expire")

		md-input-container
			label {{ 'user.passExpirationDate' | translate }}
			md-datepicker(ng-model="user.expirePassWord")

div
	p.form-section
		| {{ 'user.roles' | translate }}
	div.an-material

		table.list.list-glarus
			tr
				th {{ 'user.roleName' | translate }}
				th {{ 'user.roleDescr' | translate }}
				th {{ 'user.roleEnabled' | translate }}
			tr(ng-repeat='role in roles')
				td.role-name {{ role.name }}
				td {{ role.description }}
				td.role-enabled
					md-checkbox.md-primary(aria-label="role.name" ng-model='role.enabled')

